{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Dashboard :: {% endblock %}

{% block page_styles %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Build Insightful Software</h1>
    </div>
    <div class="row">
      <p class="blurb">Code, tools and snippets to help you build search and machine learning applications on Fusion.</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("labs") }}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          
          <div class="row">
            <div class="col-md-12">
              <h2>Labs Launch Center</h2>
              <p>Select an application to launch an instance.</p>
            </div>
          </div>
          
          <div class="row card-padding">

            {% for stream in streams %}
              <div class="card">
                <div class="card-header">
                  <h3 style="font-size: 30px; margin-top: 0px;">{{ stream.name }}</h3>
                  <a target=_blank href="{{ stream.github_repo }}/README.md">README.md</a>
                </div>
                <div class="card-body">                  
                  <p class="card-text">{{ stream.description }}</p>
                </div>
                <button id="stream-{{ stream.sid }}" type="button" class="btn btn-success"><span class="fa fa-rocket"></span> Launch Now</button>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<br/><br/> <!--take this crap out-->
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";

    // make things randomly pretty
    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
    // decorate cards
    $(".card-header").each(function(index) {
      console.log(index);
      var card_image = getRandomInt(5)+1;
      $(this).addClass("card-image-"+card_image);
    });

    // remove buttons
    $('button[id^="stream-"]').each(function(index){
      $('#'+this.id).click(function() {
        sid = this.id.split("-").pop();
        window.location = "/instance/create/"+sid;
      });
    });

    // download
    $('#download-button').click(function() {
      window.location = "https://lucidworks.com/download";
    });

    // apps index
    $('#applications-index').click(function() {
      window.location = "https://streams.lucidworks.com/labs";
    });

    // docs
    $('#getting-started-docs').click(function() {
      window.location = "{{ uri_for('labdocs') }}";
    });
  });

</script>
{% endblock %}

