<!-- STEP 2 -->
<layout:grid>
	<layout:block lg="1-2" lg-offset="1-4">
		<layout:box>

			<div>
			    <legend><a ng-disabled="$isFirst()" ng-click="$previousStep()" class="link-secondary">Go back</a>Authenticate Connection</legend>
			    <fieldset styling="group">
			        <input id="user" name="user" ng-model="config.user" placeholder="Username" styling="input-1" ng-disabled="!hostAvailable" ng-change="enableAuthenticateButton()">
			        <input type="password" styling="input-1" placeholder="Password" id="password" name="password" ng-model="config.password" ng-disabled="!hostAvailable" ng-change="enableAuthenticateButton()">
			    </fieldset>
			    <label ng-repeat="r in realms" class="forcelc">
			        <input type="radio" name="realm" ng-value="r" ng-model="config.realm" ng-disabled="!hostAvailable" ng-change="enableAuthenticateButton()"/>{{r}}<br/>
			    </label>
			    <button styling="button input-1" ng-click="authenticate()" ng-disabled="!hostAvailable && !config.user || !config.password" ng-class="authenticateClass">{{authenticateText}}</button>
			</div>
			<button styling="button input-1" ng-click="$nextStep()" ng-disabled="!authenticated" class="transition-delay" ng-class="{invisible: !authenticated}">Next</button>

		</layout:box>
	</layout:block>
</layout:grid>