<!-- STEP  -->
<layout:grid>
    <layout:block lg="2-3" lg-offset="1-6">
        <layout:box>

            <!-- Page Selection -->
			<layout:grid>
				<layout:block class="wizard-intro">
            	<legend><a ng-disabled="$isFirst()" ng-click="$previousStep()" class="link-secondary">Go back</a>Which pages should be included?</legend>
				</layout:block>
				<layout:block class="wizard-list">
					<a styling="panel panel-block-link" class="active">
						<span class="choice icon-ok"></span>
						<img src="/setup/assets/icon-page-search.png" />
						<h5>Search Results Page</h5>
						<p>View a list of results with filters and optional tabs.</p>
					</a>
					<a styling="panel panel-block-link">
						<span class="choice icon-ok"></span>
						<img src="/setup/assets/icon-page-dashboard.png" />
						<h5>Dashboard Page</h5>
						<p>Explore the statistics and trends in your data.</p>
					</a>
					<a styling="panel panel-block-link">
						<span class="choice icon-ok"></span>
						<img src="/setup/assets/icon-page-detail.png" />
						<h5>Detail Page</h5>
						<p>Create topic pages for the subjects of your search results</p>
					</a>
				</layout:block>
			</layout:grid>

			<layout:grid class="tk-rgrid-g">
			    <layout:block lg="3-4" lg-offset="2-24">
			        <layout:box class="tk-rgrid-box">
						<button styling="button input-1" ng-click="$nextStep()" ng-disabled="!authenticated" class="transition-delay" ng-class="{invisible: !authenticated}">Next</button>
			        </layout:box>
			    </layout:block>
			</layout:grid>

        </layout:box>
    </layout:block>
</layout:grid>