<!-- STEP 6 -->
<layout:grid>
	<layout:block lg="2-3" lg-offset="1-6">
		<layout:box>

			<legend><a ng-disabled="$isFirst()" ng-click="$previousStep()" class="link-secondary">Go back</a>Fields to include</legend>

			<fieldset class="dashselect-list conf">
			    <div ng-repeat="(name, facet) in insights.facets" class="item">

					<!-- checkbox title -->    	
					<span class="checktitle"><input type="checkbox" ng-model="view.facets[$index].show" ng-value="name" /> {{name}}</span>

					<!-- sample values -->
					<div class="sample" ng-class="{showingSample: showingSample}">
						<!-- <i class="samplematch bad icon-attention" ng-if="facet.distinct == 0">Warning: This facet has no values.</i> -->
			            <h5>Sample values returned for this field:</h5>
			            <ol>
			                <li ng-repeat="s in insights.facets[name].sample | limitTo: 3">{{s | limitTo: 50}}</li>
			            </ol>
			        </div>

			        <!-- coverage -->
			        <span class="advice coverage icon-info-circled" ng-if="facet.distinct > 0">Facet covers {{facet.cardinality * 100 | number: 0}}% of content, with {{facet.distinct}} distinct values.</span>

			        <!-- warning -->
			        <span class="advice warning icon-attention" ng-if="facet.distinct == 0">Warning: This facet has no values.</span>

			        <!-- visualization type -->
				    <div class="viz-type">
					    <layout:grid>
					    	<layout:block md="1-3"><span class="fauxlabel text-left">Visualization type:</span></layout:block>
					    	<layout:block md="2-3">
					    		<ol class="viz-selector">
					    			<li class="icon-chart-pie active"></li>
					    			<li class="icon-chart-bar"></li>
					    			<li class="icon-chart-area"></li>
					    			<li class="icon-chart-line"></li>
					    			<li class="icon-location"></li>
					    		</ol>
					    	</layout:block>
						</layout:grid>
				    </div>

					<!-- update label -->
					<div class="rename-title">
					    <layout:grid>
					    	<layout:block md="1-3"><span class="fauxlabel text-left">Visualization title:</span></layout:block>
					    	<layout:block md="2-3">
					    		<input styling="input-1" type="text" ng-model="view.facets[$index].label" placeholder="{{name}}"/>
					    	</layout:block>
						</layout:grid>
				    </div>

			    </div>
			</fieldset>

		</layout:box>
	</layout:block>
</layout:grid>


<layout:grid>
    <layout:block lg="1-2" lg-offset="1-4">
        <layout:box>
			<button type="button" styling="button input-1" ng-click="$nextStep();" ng-class="configureClass">{{configureText}}</button>
        </layout:box>
    </layout:block>
</layout:grid>






<!-- 

<legend><a ng-disabled="$isFirst()" ng-click="$previousStep()" class="link-secondary">Go back</a>Select Facets and Additional Fields</legend>

<fieldset class="facetselect-list conf">
    <div ng-repeat="(name, facet) in insights.facets" class="item">
    	<div class="facet-include">
	    	<span class="checktitle"><input type="checkbox" ng-model="view.facets[$index].show" ng-value="name" /> {{name}}</span>
		    <layout:grid>
		    	<layout:block md="1-3"><span class="fauxlabel text-left">Display as:</span></layout:block>
		    	<layout:block md="2-3">
		    		<input styling="input-1" type="text" ng-model="view.facets[$index].label" placeholder="{{name}}"/>
		    	</layout:block>
				<layout:block>
				<input type="checkbox" ng-model="view.facets[$index].search_within_facet" ng-disabled="!view.facets[$index].show" /> Enable search within facet
				<span ng-if="facet.distinct > 50" class="advice recommend  icon-info-circled" ng-show="view.facets[$index].show">Search Within recommended: facet has many values.</span>
				</layout:block>
			</layout:grid>
	        <i class="samplematch" ng-if="facet.distinct > 0">Covers {{facet.cardinality * 100 | number: 0}}% of content, with {{facet.distinct}} values.</i>
	    </div>
	    <div class="result-include">
	    	<input type="checkbox" ng-model="view.facets[$index].show_in_results" /> Include in results as Additional Metadata
	    </div>

		<i class="icon-th-list" ng-click="showsample()"></i>
        <div class="sample" ng-class="{showingSample: showingSample}">
			<i class="samplematch bad icon-attention" ng-if="facet.distinct == 0">Warning: This facet has no values.</i>
            <h5>Sample values returned for this field:</h5>
            <ol>
                <li ng-repeat="s in insights.facets[name].sample | limitTo: 3">{{s | limitTo: 50}}</li>
            </ol>
        </div>

    </div>
</fieldset>

<button type="button" styling="button input-1" ng-click="$nextStep();" ng-class="configureClass">{{configureText}}</button>
 -->