<!-- STEP 5 -->
<layout:grid>
    <layout:block lg="1-2" lg-offset="1-4">
        <layout:box>

            <legend><a ng-disabled="$isFirst()" ng-click="$previousStep()" class="link-secondary">Go back</a>Set Result Description
            </legend>

            <fieldset>
                <div class="conf">
                    <label for="fields" class="forinput">Field</label>
                    <!-- select -->
                    <div styling="labelled-input">
                        <select name="fields" ng-model="view.results.description_field"
                                ng-options="key as key for (key , value) in insights.fields" styling="input-1"></select><br>
                    </div>
                    <div class="sample showblock">
                        <h5>Sample values returned for this field:</h5>
                        <ol>
                            <li ng-repeat="s in insights.fields[view.results.description_field].sample | limitTo: 3">{{s | limitTo:
                                50}}...
                            </li>
                        </ol>
                    </div>

                    <!--  suggestions  -->
                    <p class="standout" ng-show="insights.description_suggestions.length > 0">suggested fields:</p>
                    <layout:grid>
                        <layout:block>
                            <label ng-repeat="description_field in insights.description_suggestions"
                                   ng-init="view.results.description_field = insights.description_suggestions[0]" class="forcelc">
                                <input type="radio" name="description_field" ng-model="view.results.description_field"
                                       ng-value="description_field" ng-checked="$index==0"/>{{description_field}}

                                <i class="samplematch" name="title_fields" ng-model="view.results.title_field"
                                   ng-value="title_field" ng-checked="$index==0">({{insights.fields[description_field].cardinality *
                                    100 | number: 0}}% of results have values)</i><br/>
                            </label>
                        </layout:block>
                    </layout:grid>

                </div>
            </fieldset>

            <button type="button" styling="button input-1" ng-click="$nextStep();" ng-class="configureClass">{{configureText}}
            </button>

        </layout:box>
    </layout:block>
</layout:grid>