{% extends base_layout %}

{% block title %}
        {% trans %}Apps{% endtrans %} -
{% endblock %}

{% block header_title_lead %}
    <h1>My Apps</h1>
    <p class="lead">
    	Apps are stored in <a href="http://gist.github.com/mine">Gists</a> on your Github account.  You can also <a href="{{ uri_for("apps-public") }}">browse existing apps</a> shared by other TinyProbe users.
    </p>
{% endblock %}

{% block content %}
  <!-- hidden delete modal -->
    <div id="delete" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Confirm Deletion</h3>
        </div>
        <div class="modal-body">
          <p>Deleting this app will remove it from your acccount and delete its gist from your Github account.  You cool with that?</p>
        </div>
        <div class="modal-footer">
          <a href="#" id="cancel-button" class="btn btn-inverse" data-dismiss="modal">Cancel</a>
          <a href="#" id="delete-button" class="btn btn-danger btn-primary">Delete App</a>
        </div>
    </div>
    <div id="refresh_notice" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Cleared Cache</h3>
        </div>
        <div class="modal-body">
          <p>The files for this app have been flushed from TinyProbe's cache.</p>
        </div>
        <div class="modal-footer">
          <a href="#" id="cancel-button" class="btn btn-inverse" data-dismiss="modal">I Understand</a>
        </div>
    </div>
    <div id="cards">
      {% for item in apps %}
        <div id="app-{{ item.key.id() }}" class="card">
          <div class="front">
            <img src="{{ item.thumb_url }}">
            <h3><span class="app_name">{{ item.name|bleach }}{% if not item.public %}</span><i class="icon-lock"></i>{% endif %}</h3>
            <p class="app_desc">{{ item.description|bleach }}</p>
          </div>
          <div class="back">
            <div class="textrow">
                <h3><span class="app_name">{{ item.name|bleach }}{% if not item.public %}</span><i class="icon-lock icon-white"></i>{% endif %}</h3>
                <p class="app_author">by <a href="http://github.com/{{ item.github_author }}">@{{ item.github_author }}</a></p>
                <p class="app_desc">{{ item.description|bleach }}</p>
                <h4>Shell Usage</h4>
                <p class="app_command">$ {{ item.command|bleach }}</p>
            </div>
            <div class="iconrow">
                <a rel="tooltip" id="setup-{{item.key.id()}}" class="btn btn-small" title="Details" href="#"><i class="icon-list-alt"></i></a>
                <a rel="tooltip" id="edit-{{item.gist_id}}" class="btn btn-small btn-inverse" title="Edit" href="#"><i class="icon-white icon-pencil"></i></a>
                <a rel="tooltip" id="refresh-{{item.key.id()}}" class="btn btn-small btn-inverse" title="Clear Memcache Copy" href="#"><i class="icon-white icon-refresh"></i></a>
                <button id="delete-{{item.key.id()}}" class="btn btn-small btn-danger" title="Delete" href="#"><i class="icon-white icon-remove"></i></button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="form-actions">
        <a title="Create new hotness." href="{{ uri_for("apps-new") }}" class="btn btn-inverse btn-large"><i class="icon-plus icon-white"></i> {% trans %}New{% endtrans %}</a>
        <a title="Sync apps with existing Github gists." id="refresh_button" class="btn btn-inverse btn-large"><i class="icon-refresh icon-white"></i> {% trans %}Sync{% endtrans %}</a>
    </div>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="/js/libs/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/libs/bootstrap-tooltip.js"></script>
<script type="text/javascript">
    $().ready(function() {
        var channel_token = "{{ channel_token }}";
        var refresh_channel = "{{ refresh_channel }}";
        var csrf_token = "{{ csrf_token() }}";

        // yo, tooltips to help peeps
        $('.btn').tooltip();

        // watch for refresh_button to be clicked
        $("#refresh_button").click(function() {
            $.ajax({
                url: '{{ uri_for("apps-refresh") }}?channel_token={{ channel_token }}',
                success:(function() {
                    $('#refresh_button').unbind("click");
                    $('#refresh_button').addClass("disabled");
                })
            });
        });

        // listen to our refresh channel for page reload
        onMessage = function(data) {
            if (data['data'] == 'reload') {
              window.location.reload();
            } else {
              alert("There was an error refreshing your apps.  Sorry!");
            }
        };
        channel = new goog.appengine.Channel('{{ refresh_channel }}');
        socket = channel.open();
        socket.onmessage = onMessage;

        // edit on github buttons
        $('a[id^="edit-"]').each(function(index){
          $('#'+this.id).click(function() {
            var gist_id = this.id.split("-").pop();
            window.location = 'https://gist.github.com/'+gist_id;
            return false;
          })
        });

        // detail buttons
        $('a[id^="setup-"]').each(function(index){
          $('#'+this.id).click(function() {
            var gist_id = this.id.split("-").pop();
            window.location = '/apps/'+gist_id;
            return false;
          })
        });

        // delete buttons
        $('button[id^="delete-"]').each(function(index){
          $('#'+this.id).click(function() {
            var app_id = this.id.split("-").pop();
            var button_id = '#'+this.id;
            console.log("click delete");
            $('#delete').modal();
            $('#delete-button').click(function() {
              $.ajax({
                url: '/apps/'+app_id+'/?channel_token='+channel_token+'&_csrf_token='+csrf_token,
                type: 'DELETE',
                success:(function() {
                  $(button_id).unbind("click");
                  $(button_id).addClass("disabled");
                })
              });
            });
          })
        });
        
        // refresh memcache of app buttons
        $('a[id^="refresh-"]').each(function(index){
          $('#'+this.id).click(function() {
            console.log('yup');
            var app_id = this.id.split("-").pop();
            button_id = '#'+this.id;
            $.ajax({
              url: '/apps/'+app_id+'/refresh/?&_csrf_token='+csrf_token,
              type: 'GET',
            });
            $('#refresh_notice').modal();
          })
        });

        // isotope layout
        var $container = $('#cards');
        $container.isotope({
            itemSelector: '.card',
            layoutMode: 'cellsByRow',
            sortBy : 'name',
            cellsByRow : { columnWidth : 280 }
        });

        // set the back of the card to navigate to detail
        $('div[id^="app-"]').each(function(index){
            var app_id = this.id.split("-").pop();
            $('div#'+this.id+' > .back > .textrow').click(function(e){
                window.location = '/apps/'+app_id+'/';
            });
        });

        // flip the cards back and forth on mouse in/out
        $('.card').mouseenter(function(e){
            $(this).addClass('flip');
        }).mouseleave(function(){
            var that = this;
            $(that).removeClass('flip')
        });
    });
</script>
{% endblock %}

