.DS_Store
.node-version
.tmp/
ui/target/
*.iws
*.ipr
*.original
*.log
ui/twigkit-socialdb/
ui/logs
.vagrant
.extract/
ui/dist
.idea
*.iml
.editorconfig
*.tgz
config.py
config.py.bak
config.py.*
*.pyc
*.db
