{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Status :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Welcome to Labs</h1>
      <p class="blurb">&#8220;Nothing is too wonderful to be true if it be consistent with the laws of nature.&#8221; ― Michael Faraday</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("dashboard", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Dashboard</h2>
            <div class="row">
              <div class="col-md-12">
                <p>Lucidworks' Labs provides a quick and easy way to start <a href="https://lucidworks.com/products">Lucidworks' Fusion</a> demo instances on <a href="https://cloud.google.com/">Google Cloud</a>. A wide variety of different types of search applications can be explored with this system.</p>
                <p>If you are looking to download Fusion to run locally, please visit the <a href="https://lucidworks.com/resources/getting-started/">Fusion Download page</a>. Please refer to our <a href="https://lucidworks.com/legal/privacy-policy/">Privacy Policy</a> for more information about how we use your information on this site.</p>
                <div class="bs-callout bs-callout-warning bs-callout-top">
                  <h4>Looking for Applications?</h4>
                  <p>You can find a variety of different Fusion based applications over on the Labs Index.</p>
                  <button type="button" id="applications-index" class="btn btn-warning">Browse Applications</button>
                </div>
                <h4>Getting Started</h4>
                <p>Curious about what you can do here? Take a few minutes to watch the <strong>Get Started with Lucidworks Labs</strong> video!</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WOG4E3-PuCk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <p></p>
                <h4>Create an Instance from a Stream</h4>
                <p>Ready to fire up some instances? Navigate to the <strong>Instances page</strong> to begin launching Fusion instances!</p>
                <button type="button" id="instances-list" class="btn btn-success">Start Your Instances</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<br/><br/> <!--take this crap out-->
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";

    // apps index
    $('#applications-index').click(function() {
      window.location = "https://lucidworks.com/labs";
    });
    
    // review settings
    $('#instances-list').click(function() {
      window.location = "{{ uri_for('instances-list') }}";
    });  
  });

</script>
{% endblock %}

