{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Dashboard :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Welcome to Lucidworks Labs</h1>
      <p class="blurb">&#8220;Nothing is too wonderful to be true if it be consistent with the laws of nature.&#8221; ― Michael Faraday</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("dashboard", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Dashboard</h2>
            <div class="row">
              <div class="col-md-12">
                <p>Lucidworks Labs provides a quick and easy way to start demo instances of Lucidworks Fusion on Google Cloud. A wide variety of different types of search  and data applications can be deployed and configured with this system.</p>
                <p>If you are looking to download Fusion to run locally, please visit the <a href="https://lucidworks.com/fusion/">Fusion Download</a> page. Please refer to our <a href="https://lucidworks.com/legal/privacy-policy/">Privacy Policy</a> for more information about how we use your information on this site.</p>
                <div class="bs-callout bs-callout-warning bs-callout-top">
                  <h4>Looking for Applications?</h4>
                  <p>You can find a variety of different Fusion-based applications over on the <a href="https://lucidworks.com/labs">main labs site</a>.</p>
                  <button type="button" id="applications-index" class="btn btn-warning">Browse Applications</button>
                </div>
                <p>There is a <a href="{{ uri_for('labdocs') }}">getting started guide</a> on the documentation page.</p>
                <h4>Video: Getting Started</h4>
                <p>Take a few minutes to watch the <em>Get Started with Lucidworks Labs</em> video:</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WOG4E3-PuCk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<br/><br/> <!--take this crap out-->
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";

    // apps index
    $('#applications-index').click(function() {
      window.location = "https://lucidworks.com/labs";
    });
    
    // review settings
    $('#instances-list').click(function() {
      window.location = "{{ uri_for('instances-list') }}";
    });  
  });

</script>
{% endblock %}

