{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Status :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
  <link href="/css/docs.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<img src="/img/labs_bg.png" alt="background-image" class="img-responsive nav-bg">
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("status", user_id, provider) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2><small>Account Status</small></h2>
            <div class="row">
              <div class="col-md-12">
                <div class="bs-callout bs-callout-info bs-callout-top">
                  <h4>Welcome to Lucidworks Labs!</h4>
                  <p>{% if not twofactor_enabled %}Please begin by turning on <strong>Two Factor Authentication</strong> and setting up your <strong>Account Information</strong> by clicking on the <span class="label label-danger">Review Settings</span> button below.{% endif %}</p>
                </div>
                <p>At this time this page is a holder. You may want to <a href="https://wisdom.sh/docs">check out the API</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          {% if not twofactor_enabled %}<button type="button" id="review-settings-button" class="btn btn-danger">Review Settings</button>{% endif %}
        </div>
      </div>
    </div>
  </div> 
</div>
<br/><br/> <!--take this crap out-->
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";

    // new wisp
    $('#new-wisp-button').click(function() {
      window.location = "";
    });
    
    // review settings
    $('#review-settings-button').click(function() {
      window.location = "{{ uri_for('account-settings') }}";
    });  
  });

</script>
{% endblock %}

