<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>twitter</servlet-name>
    <servlet-class>com.lucidworks.streams.sockitter.TwitterGateway</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>fusion</servlet-name>
    <servlet-class>com.lucidworks.streams.sockitter.FusionGateway</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>twitter</servlet-name>
    <url-pattern>/twitter</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>fusion</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fusion</servlet-name>
    <url-pattern>/lookupUsersByScreenNames</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fusion</servlet-name>
    <url-pattern>/lookupUsersByIDs</url-pattern>
  </servlet-mapping>
</web-app>