html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 8px;
}
h1 {
    padding-top: 10px;
}
h3 {
    margin-top: 4px;
    margin-bottom: 8px;
}
h4 {
    margin-top: 12px;
    margin-bottom: 3px;
}
h5 {
    margin-top: 12px;
    margin-bottom: 2px;
}
h4, h5, h6 {
    margin-bottom: 0px;
}
h2 small {
    color: #777;
}
h1 small, h2 small, h3 small {
    color: #777;
}

#getting-started {
    margin-top: 20px;
}

nav#toc>ul.nav.navbar-nav>li>a {
    font-size: inherit;
}
.dropdown-item {
    font-size: 14px;
}
.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

/* fix bootstrap */
.nav-link.active {
    background-color: none !important;    
}

a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: #0D1A31;
}
.fusion-link {
    text-decoration: underline;
    color: white !important;
}
.breadcrumb-arrow {
    background-color: #f8f8f8;
}

/* docs */
nav[data-toggle='toc'] .nav .nav {
    display: block;
}

pre {
    font-size: 11px;
    height: auto;
    overflow: auto;
    background-color: #F9F9F9;
    border: 0px;
    border-radius: 0px;
    padding: 10px;
}
input.ip, input.ip:focus {
    border: 0px;
    width: 100%;
    outline: 0;
    background-color: inherit;
}

button.btn-inverse {
    background-color: #444;
}
btn:hover, .btn:focus, .btn:active, .btn.active {
    color: #FFF;
    outline: none !important;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
    background-color: #666;
}
.btn-info, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    color: #FFF;
    background-color: #3BAFD9;
    border-color: #46B8DA;
}
.btn-info:hover, .btn-info:focus {
    color: #fff;
    background-color: #4BBFE9;
    border-color: #36aacc;
}

#docs {
    margin-bottom: 40px;
    padding-left: 30px;
}
#doc-content {
    position: relative;
    padding-top: 20px;
}
#toc {
    padding-top: 75px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: auto;
    margin: 0 auto -175px;
    padding: 0 0 170px;
}

.nav-stacked {
    padding-top: 0px;
}
.inverse {
    color: #fff;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    background-color: #252525;
}
.footer-strip {
    background-color: #888888;
    padding-bottom: 1px;
    margin-bottom: 20px;
}
.affix {
    margin-top: -140px;
}
.affix-top {
    margin-top: 20px;
}


.fixed {
    position: fixed;
}

.tab-content {
    padding: 0px;
}
.input-xlarge {
    width: 400px;
}

.nav-tabs {
    background-color: #F9F9F9;
}
#spinner {
    height: 200px;
}
.nav-pills>li>a {
    border-radius: 0px;
}
.nav-link.active {
    background: none;
}
.container {
    margin-left: 14px;
    padding-right: 30px;
}
.inverse>.container {
    padding-bottom: 10px;
}
.content {
    margin-top: 20px;
    margin-bottom: 70px;
}
.padding {
    margin-bottom: 200px;
}
.page-header>h1, .page-header>h2, .page-header {
    margin-top: 0px;
    margin-bottom: 0px;
}
.section-header>h1, .section-header>h2 {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: px;
    border-bottom: 1px solid #999;
}
.table>thead>tr>th {
    color: #888;
    https: //streams.lucidworks.com/img/labs_bg.png
}
.form-padding {
    margin-bottom: 16px;
}
.form-padding:last-of-type {
    margin-bottom: 12px;
}
.form-buttons {
    margin-left: 30px;
}
.form-edit {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
}
.form-has-button {
    padding-right: 8px;
}
.form-ssh-key {
    word-break: break-all;
}
#new-group-create-button {
    margin-top: 25px;
}
.steps {
    margin-bottom: 30px;
}
.nav-pills>li>a {
    color: #14C6BC;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #FFF;
    border: 1px solid #14C6BC;
    border-left: 6px solid #14C6BC;
}
.nav-pills .nav-link {
    border-radius: none !important;
}
.nav-pills a {
    text-decoration: none !important;
}

.control-label {
    color: #888;
}
#address {
    margin-top: 10px;
    font-size: 12px;
}
.instance-detail-row {
    padding-bottom: 30px;
    border-bottom: 1px dashed #bbb;
}
.button-padding {
    margin-top: 30px;
}
.timer-state {
    margin-top: 20px;
}
.instance-state {
    font-size: 18px;
    font-weight: normal;
}
.nav-stacked {
    padding-top: 20px;
}
.install-video {
    margin: 20px 0 20px;
}
#login-tfa {
    margin-top: 10px;
}
.toggle-modern {
    padding-top: 3px;
}

.leaflet-popup-content {
    padding: 19px 9px 15px !important;
}
.bootstrap-tagsinput {
    width: 100%;
}
.tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.tt-suggestion>p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}
.tt-suggestion>p:hover, .tt-suggestion>p:focus, .tt-suggestion.tt-cursor p {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.navbar {
    filter: alpha(opacity=90);
}
ul.nav.navbar-nav>li.active>a, ul.nav.navbar-nav>li>a {
    text-decoration: none;
}
a.navbar-brand.navbar-logo {
    text-decoration: none;
}
a.navbar-brand {
    width: 200px
}
.navbar-brand {
    float: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0
}
.navbar-brand img {
    display: inline-block;
    /* width: 100% */
    max-width: 230px;
}
.dropdown-menu a:link, a:active {
    text-decoration: none;
}
.dropdown-menu .dropdown-header {
    padding: 3px 20px;
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.dropdown-menu li a {
    padding: 3px 20px;
    color: #333;
}
.dropdown-menu .divider {
    background-color: #e5e5e5;
    border-bottom: none;
}
.dropdown-menu {
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
a.dropdown-toggle {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}
.navbar-toggle .icon-bar {
    background-color: #444;
}

/* sign in button */
ul.nav.navbar-nav>li>button {
    margin: 8px 0 0 10px;
    height: auto;
}
a.nav-link.active {
    background-color: #efefef;
    text-decoration: none;
}
#nav-login {
    margin-left: 10px;
}
/* form errors */

.error .help-inline {
    color: #ff2323;
}
/* footer */


ul.unstyled, ol.unstyled {
    list-style: none;
    padding: 0px;
}
footer h4 {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    color: #0D1A31;
    margin-bottom: 15px;
}
footer li {
    font-size: 14px;
    line-height: 2.50;
}
footer p {
    color: #999;
}
footer a {
    color: #0d1a31;
}
footer ul.unstyled a {
    text-decoration: none;
}
footer ul.unstyled a:hover {
    text-decoration: underline;
}
footer #footer-floor {
    padding-top: 10px;
}
footer #footer-floor h3, footer #footer-floor h4 {
    color: #fff;
}
footer #footer-floor #elsewhere-msg {
    padding-top: 18px;
}
footer ul, h4 {
    margin-top: 4px;
}
footer ul {
    margin-bottom: 16px;
}
footer img.logo {
    width: 153px;
}
.social-links a:not(:last-child) {
    margin-right: 25px;
}
.social-links i {
    margin-left: 0px;
    font-size: 34px;
    display: inline-block;
    color: #0D1A31;
    width: 26px;
    height: 30px;
    transition-property: color;
    transition-duration: .35s;
}

/* sliders - the guy that wrote this has no clue about documentation */

.toggle {
    height: 22px;
    width: 70px;
}
.toggle-slide {
    overflow: hidden;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
}
.toggle-slide .toggle-on, .toggle-slide .toggle-off, .toggle-slide .toggle-blob {
    float: left;
}
.toggle-slide .toggle-blob {
    position: relative;
    z-index: 99;
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.toggle-modern .toggle-slide {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c5c9), color-stop(1, #a1a9af));
    background-image: -webkit-linear-gradient(#c0c5c9, #a1a9af);
    background-image: -moz-linear-gradient(#c0c5c9, #a1a9af);
    background-image: -o-linear-gradient(#c0c5c9, #a1a9af);
    background-image: -ms-linear-gradient(#c0c5c9, #a1a9af);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c5c9', endColorstr='#a1a9af');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c5c9', endColorstr='#a1a9af')";
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
}
.toggle-modern .toggle-slide .toggle-on, .toggle-modern .toggle-slide .toggle-off {
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 11px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.toggle-modern .toggle-slide .toggle-off, .toggle-modern .toggle-slide .toggle-off.active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #737e8d), color-stop(1, #3f454e));
    background-image: -webkit-linear-gradient(#737e8d, #3f454e);
    background-image: -moz-linear-gradient(#737e8d, #3f454e);
    background-image: -o-linear-gradient(#737e8d, #3f454e);
    background-image: -ms-linear-gradient(#737e8d, #3f454e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737e8d', endColorstr='#3f454e');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#737e8d', endColorstr='#3f454e')";
}
.toggle-modern .toggle-slide .toggle-on, .toggle-modern .toggle-slide .toggle-on.active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4894cd), color-stop(1, #2852a6));
    background-image: -webkit-linear-gradient(#4894cd, #2852a6);
    background-image: -moz-linear-gradient(#4894cd, #2852a6);
    background-image: -o-linear-gradient(#4894cd, #2852a6);
    background-image: -ms-linear-gradient(#4894cd, #2852a6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4894cd', endColorstr='#2852a6');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4894cd', endColorstr='#2852a6')";
}
.toggle-modern .toggle-select .toggle-off, .toggle-modern .toggle-select .toggle-on {
    background: none;
}
.toggle-modern .toggle-slide .toggle-blob {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c5c9), color-stop(1, #81898f));
    background-image: -webkit-linear-gradient(#c0c6c9, #81898f);
    background-image: -moz-linear-gradient(#c0c6c9, #81898f);
    background-image: -o-linear-gradient(#c0c6c9, #81898f);
    background-image: -ms-linear-gradient(#c0c6c9, #81898f);
    background-image: linear-gradient(#c0c6c9, #81898f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c6c9', endColorstr='#81898f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c5c9', endColorstr='#a1a9af')";
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.toggle-modern .toggle-slide .toggle-blob:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a1a9af), color-stop(1, #a1a9af));
    background-image: -webkit-linear-gradient(#a1a9af, #81898f);
    background-image: -moz-linear-gradient(#a1a9af, #a1a9af);
    background-image: -o-linear-gradient(#a1a9af, #a1a9af);
    background-image: -ms-linear-gradient(#a1a9af, #a1a9af);
    background-image: linear-gradient(#a1a9af, #a1a9af);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a9af', endColorstr='#a1a9af');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a9af', endColorstr='#a1a9af')";
}

