{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}User Admin :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>The Admin</h1>
    </div>
    <div class="row">
      <p class="blurb">&#8220;To conquer oneself is a greater task than conquering others.&#8221; ― Gautama Buddha</p>
    </div>
  </div>
</div>
<div class="container content padding">
  <div class="row">
    <div class="col-md-2">
    {{ macros.admin_side_menu("users") }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Users</h2>
            <div class="row">
              <div class="col-md-12">
                <p>Below is a list of users on the Lab's system. These users are employees, customers or trial users.</p>
                <div class="bs-callout bs-callout-warning bs-callout-top">
                  <h4>Notice!</h4>
                  <p>Do be careful about deleting or upgrading users!</p>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Created</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Super Size</th>
                      <th>Action?</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td>{{ user.username }}</td>
                      <td>{{ user.created|timendate }}
                      <td>{{ user.name }}</td>
                      <td>{{ user.email }}</td>
                      <td>
                        <div class="toggle-modern">
                          <div id="supersize-slider_{{user.key.id()}}" class="toggle {% if user.superuser %}enabled{% endif %}"></div>
                        </div>
                      </td>
                      <td>
                        <button type="button" id="remove_{{user.key.id()}}" class="btn btn-danger btn-xs" title="Remove User" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>

<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{ username }}";
    var csrf_token = "{{ csrf_token() }}";

    // super slider
    $('div[id^="supersize-slider_"]').each(function(index){
      $('#'+this.id).toggles({
        ontext:'ON',
        offtext:'OFF',
        on: $('#'+this.id).hasClass('enabled')
      }).on('toggle', function (e, active) {
        if (!active) {
          uid = this.id.split("_").pop();
          $.ajax({
            url: '/admin/users/?uid='+uid+'&super=0&_csrf_token='+csrf_token,
            type: 'POST',
            statusCode: {
              200: function() {
                alertify.success("User downgrade complete.");
                setTimeout(function(){ location.reload(); }, 2000);
              },
              402: function() {
                alertify.error("Don't mess with the divine, or the divine may mess with you.");
                setTimeout(function(){ location.reload(); }, 2000);
              }
            }
          });
        } else {
          uid = this.id.split("_").pop();
          $.ajax({
            url: '/admin/users/?uid='+uid+'&super=1&_csrf_token='+csrf_token,
            type: 'POST',
            statusCode: {
              200: function() {
                alertify.success("User upgrade complete.");
                setTimeout(function(){ location.reload(); }, 2000);
              },
              402: function() {
                alertify.error("Don't mess with the divine, or the divine may mess with you.");
              }
            }
          });
        }
      });
    });

  });
</script>

{% endblock %}
