{% extends base_layout %}

{% block title %}
  Error - 
{% endblock %}

{% block page_styles %}
  <link href="/css/error.css" rel="stylesheet">
  <meta charset='utf-8' />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
  <div class="splash-container">
    <h1>That's an error there partner.</h1>
    <div class="splash-message">
      <p>Something has gone slightly or horribly wrong.  Slathering noises ensue.  You have died.</p>
      <button id="get-started" class="btn btn-lg btn-danger">Respawn</button>
    </div>
  </div>
  <div id='map'></div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $().ready(function() {
      // login button
      $('#nav-login').on('click', function(e) { window.location = "/dashboard" });
      
      mapboxgl.accessToken = 'pk.eyJ1Ijoia29yZGxlc3MiLCJhIjoiVHZya0tuUSJ9.4sTXK2QLg49uzs2qhSWf3A';
 
      var themap = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/outdoors-v11', //stylesheet location
        center: [20, 20], // starting position
        zoom: 2 // starting zoom
      });
       
      themap.addControl(
        new mapboxgl.FullscreenControl()
      );

      setInterval(function(){themap.panBy([-1, 0]);},3000);
    });
  </script>


{% endblock %}

{% block extras %}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
{% endblock %}