{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Streams Admin :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>The Admin</h1>
      <p class="blurb">&#8220;There is no instance of a nation benefitting from prolonged warfare.&#8221; ― Sun Tzu</p>
    </div>
  </div>
</div>
<div class="container content padding">
  <div class="row">
    <div class="col-md-2">
    {{ macros.admin_side_menu("instances") }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Instances</h2>
            <div class="row">
              <div class="col-md-12">
                <p>Below is a list of instances running on Google Cloud. These instances were started using the <a href="https://github.com/lucidworks/streams">Buttons project</a>.</p>
                <div class="bs-callout bs-callout-warning bs-callout-top">
                  <h4>Notice!</h4>
                  <p>Instances may be in use. Do be careful about deleting instances, as they cannot be recovered once they are removed.</p>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Owner</th>
                      <th>Created</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for instance in instances %}
                    <tr>
                      <td>{{ instance.name }}</td>
                      <td>{{ instance.user.get().username }}
                      <td>{{ instance.created }}</td>
                      <td>{{ instance.status }}</td>
                      <td>X</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>

<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{ username }}";
    var csrf_token = "{{ csrf_token() }}";
  });
</script>

{% endblock %}
