{% import "macros.html" as macros %}
{% extends base_layout %}

<!-- Set Title -->
{% block title %}New Stream :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

	<img src="/img/labs_bg.png" alt="background-image" class="img-responsive nav-bg">
    <h1>Create a New Stream</h1>
    <p class="lead">
       Fill out the following information to create a new stream.
    </p>
    <form id="form_add_stream" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "name", _("Name"), placeholder=_("Stream Beam"), class="input-xlarge focused required") }}
            {{ macros.input(form, "description", _("Description"), placeholder=_("Live streaming from a fish."), class="input-xlong focused required") }}
            {{ macros.input(form, "zipurl", _("Application Zip URL"), placeholder=_("https://googlebucket.com/blah/blah"), class="input-xlarge focused") }}
            {{ macros.input(form, "github_repo", _("Github Repo URL"), placeholder=_("https://github.com/lucidworks/streams/projects/sockitter/"), class="input-xlarge focused") }}
            {{ macros.input(form, "fusion_version", _("Fusion Version")) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-inverse btn-large"><i class="icon-white icon-ok"></i> {% trans %}Create{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript" language="JavaScript">
    $(window).load(function(){
        $("#name").focus();
    });
    </script>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $().ready(function() {

    });
</script>
{% endblock %}

