{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Streams Admin :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>The Admin</h1>
      <p class="blurb">&#8220;There are many scapegoats for our sins, but the most popular one is Providence.&#8221; ― Mark Twain</p>
    </div>
  </div>
</div>
<div class="container content padding">
  <div class="row">
    <div class="col-md-2">
    {{ macros.admin_side_menu("streams") }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Streams</h2>
            <div class="row">
              <div class="col-md-12">
                <p>Below is a list of streams on the system. These streams will visible and usable by employees, customers and trial users.</p>
                <div class="bs-callout bs-callout-warning bs-callout-top">
                  <h4>Notice!</h4>
                  <p>This list should be a mirror what is manually maintained at <a href="https://lucidworks.com/labs">https://lucidworks.com/labs</a>, which runs on a custom Wordpress install. Please see the Marketing department for more information about adding a new application to the <a href="https://lucidworks.com/labs">Labs pages</a>.</p>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Stream ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Fusion Version</th>
                      <th>Zip URL</th>
                      <th>Github Repo</th>
                      <th>URL Stub</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for stream in streams %}
                    <tr>
                      <td>{{ stream.sid }}</td>
                      <td>{{ stream.name }}</td>
                      <td>{{ stream.description }}</td>
                      <td>{{ stream.fusion_version }}</td>
                      <td>{{ stream.zipurl }}</td>
                      <td>{{ stream.github_repo }}</td>
                      <td>{{ stream.url_stub }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>

<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{ username }}";
    var csrf_token = "{{ csrf_token() }}";
  });
</script>

{% endblock %}
