{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Instances :: {% endblock %}

{% block page_styles %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden no template modal -->
<div id="notemplate" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Instance Template Not Found</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>No templates were found to start an instance.</p><p>Please navigate to the user pulldown in the top right and then select <em>templates</em> and create a new template. If you can't see the admin menu choices, then click on <em>setup admin</em> and ensure you have an admin flag on your developer account.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- status model help -->
<div id="status-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Node Status</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Clusters may have frequently changing state or status over time.</p>
        <p>System looking for compute: <button type="button" class="btn btn-default {{ size }}" href="#"><span class="fa fa-hourglass-1"></span> Provisioning</button></p>
        <p>System request for compute accepted: <button type="button" class="btn btn-light {{ size }}" href="#"><span class="fa fa-hourglass-half"></span> Staging</button></p>
        <p>Operating system bootup: <button type="button" class="btn btn-dark {{ size }}" href="#"><span class="fa fa-hourglass-end"></span> Configuring</button></p>
        <p>Application requirements installation: <button type="button" class="btn btn-info {{ size }}" href="#"><span class="fa fa-truck"></span> Building</button></p>
        <p>Node and application are running: <button type="button" class="btn btn-success"><span class="fa fa-terminal"></span> Running</button></p>
        <p>Node is putting to sleep: <button type="button" class="btn btn-warning {{ size }}" href="#"><span class="fa fa-hand-stop-o"></span> Stopping</button></p>
        <p>Node is sleeping: <button type="button" class="btn btn-danger {{ size }}" href="#"><span class="fa fa-bed"></span> Sleeping</button></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this instance?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Delete Instance</button>
      </div>
    </div>
  </div>
</div>

<!-- hidden create instance modal -->
{% if user_info.email %}
<div id="create-instance-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Create a Fusion Instance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>To create a new instance, select a Fusion application template and click <strong>Create Instance</strong>.</p>
        <div class="row">
          <div class="col-md-10 form-padding" id="stream-form">
            <label class="control-label" for="stream">Select Template</label>
            <select class="form-control pulldown" id="stream" name="stream" type="text">
              {% for stream in streams %}
              <option value="{{ stream.sid }}">{{ stream.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="create-button" class="btn btn-success">Create Instance</button>
      </div>
    </div>
  </div>
</div>
{% else %}
<div id="update-email-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Update Your Email Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="">
        <div class="modal-body">
          <p>Github didn't give us your email address. :(</p>
          <p>Your email address will be used to notify you of changes in instance status and establishing interest in our product line. If you are here to browse, that's totally cool.</p>
          <p>Please refer to our <a href="https://lucidworks.com/legal/privacy-policy/">Privacy Policy</a> for more information about how we use this information.</p>
          <div class="row">
            <div class="col-md-6 form-padding" id="stream-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(form, "email", "Your Email Address", placeholder="you@email.com", class="form-control focused required") }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="start-button" class="btn btn-success">Update Email</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
<!-- end modal -->
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Your Instances</h1>
    </div>
    <div class="row">
      <p class="blurb">The secret of getting ahead is getting started. <span class="source">Mark Twain</span></p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("instances") }}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">

          <h2>Instance List</h2>
          <div class="row">
            <div class="col-md-10">
              {% if instances %}
              <p>Instance status is shown below. For details about a particular instance, click on its name.</p>
              {% else %}
              <p>Click the <strong>Create Instance</strong> button below to start a new instance.</p>
              <p>Here is a short video guide on how to use this site and Fusion to demo Lucidworks applications.</p>
              <p><iframe width="560" height="315" src="https://www.youtube.com/embed/mWoyepguwzE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
              {% endif %}

              {% if instances %}
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Instance Name</th>
                    <th>Application</th>
                    <th>Version</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for instance in instances %}
                  <tr>
                    <td><a href="/instance/{{ instance.name }}">{% if instance.renamed == "" %}{{ instance.name }}{% else %}{{ instance.renamed }}{% endif %}</a></td>
                    <td><a href="{{ instance.stream.get().labs_link }}">{{ instance.stream.get().name }}</a></td>
                    <td>{{ instance.stream.get().fusion_version }}</td>
                    <td>{{ macros.instance_status(instance.status, "btn-sm", instance.name) }}</td>

                    <td>
                      {% if instance.status == "TERMINATED" %}                      
                      <button type="button" id="start_{{instance.name}}" class="btn btn-info btn-sm" title="Start Instance" href="#"><span class="fa fa-play"></span></button>
                      {% else %}
                        {% if instance.admin_link %}
                        <button type="button" id="adminlink-{{instance.name}}" class="btn btn-info btn-sm" value="{{ instance.admin_link }}" title="Fusion Admin" href="#"><span class="fa fa-cog"></span></button>
                        {% endif %}
                        {% if instance.app_link %}
                        <button type="button" id="applink-{{instance.name}}" class="btn btn-info btn-sm" value="{{ instance.app_link }}" title="View Application" href="#"><span class="fa fa-list-alt"></span></button>
                        {% endif %}
                        {% if instance.password %}
                        <button type="button" id="password-{{instance.password}}" class="btn btn-warning btn-sm" value="{{ instance.password }}" title="Click to copy password." href="#"><span class="fa fa-lock"></span></button>
                        {% endif %}
                      {% endif %}
                      <button type="button" id="remove_{{instance.name}}" class="btn btn-danger btn-sm" title="Delete Instance" href="#"><span class="fa fa-remove"></span></button>
                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
              <div class="row">
                <div class="col-md-5">
                  <button type="button" id="create-instance-button" class="btn btn-success">Create Instance</button>
                  <button type="button" id="refresh-button" class="btn btn-dark">Refresh</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>

<script type="text/javascript">
  $().ready(function() {
    {% if user_info.email %}
      {% if streams %}
        $('#create-instance-button').click( function() {
          $('#create-instance-modal').modal();
        });
        $('#create-button').click( function() {
          window.location.href = '/instance/create/' + $("#stream").val();
        });
      {% else %}
        $('#create-instance-button').click( function() {
          $('#notemplate').modal();
        });
      {% endif %}
    {% else %}
      $('#create-instance-button').click( function() {
        $('#update-email-modal').modal();
        $('#email').focus();
      }); 
    {% endif %}

    {% if sid %}
    $('#update-email-modal').modal();
    $('#email').focus();

    $('#applications-index').click(function() {
      $('#update-email-modal').modal();
      $('#email').focus();
    });
    {% endif %}

    // refresh button, if they are fast enough
    $('#refresh-button').click(function() {
      window.location = "/instances/";
    });

    // refresh magic
    $( "#refresh-button" ).mouseover(function() {
      window.location = "/instances/";     
    });

    // running status button
    $('#status-button').click(function() {
      $('#status-modal').modal();
    });

    // settings
    $('#account-settings').click(function() {
      window.location = "{{ uri_for('account-settings') }}";
    });

    // labs main
    $('#labs-button').click(function() {
      window.location = "https://lucidworks.com/labs";
    });

    // password buttons
    $('button[id^="password-"]').each(function(index){
      $('#'+this.id).click(function() {
        var password = this.id.split("-").pop();
        console.log(password);
        var dummy = $('<input>').val(password).appendTo('body').select();
        document.execCommand('copy');
        alertify.success("Password copied.");
        dummy.remove();
      });
    });

    // help status buttons
    $('button[id^="status-"]').each(function(index){
      $('#'+this.id).click(function() {
        $('#status-modal').modal();
      });
    });

    // applink buttons
    $('button[id^="applink-"]').each(function(index){
      $('#'+this.id).click(function() {
        var app_link = this.getAttribute('value');
        window.open(app_link);
      });
    });

    // applink buttons
    $('button[id^="adminlink-"]').each(function(index){
      $('#'+this.id).click(function() {
        var admin_link = this.getAttribute('value');
        window.open(admin_link);
      });
    });

    // remove button
    $('button[id^="remove_"]').each(function(index){
      $('#'+this.id).click(function() {
        name = this.id.split("_").pop();
        $('#delete').modal();
        $('#delete-button').click(function() {
          $('#delete').modal('hide');
          $.ajax({
            url: '/instance/'+name+'/delete?_csrf_token='+csrf_token,
            type: 'GET',
            statusCode: {
              200: function() {
                alertify.success("Instance "+name+" marked to be deleted!");
                setTimeout(function(){ location.reload(); }, 2000);
              }
            }
          });

        });
      })
    });

    // start button
    $('button[id^="start_"]').each(function(index){
      $('#'+this.id).click(function() {
        name = this.id.split("_").pop();
        $.ajax({
          url: '/instance/'+name+'/start?_csrf_token='+csrf_token,
          type: 'GET',
          statusCode: {
            200: function() {
              alertify.success("Instance "+name+" marked to be started!");
              setTimeout(function(){ location.reload(); }, 2000);
            }
          }
        });
      })
    });

    // standard stuff
    var username = "{{ username }}";
    var csrf_token = "{{ csrf_token() }}";
    var time = new Date().getTime();

  });
</script>

{% endblock %}
