{% extends base_layout %}

{% block title %}
    {{ app_name }} -
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('apps', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1><a href="{{ uri_for("apps-public") }}">Apps</a> / {{ app_title }} </h1>
    <p>by <a href="http://github.com/{{github_author}}">{{ github_author }}</a></p>
    <p class='lead'>{{app_description}}</p>
{% endblock %}

{% block content %}
<iframe class="gist-src" src="index.html" style="width: 100%; height: 500px; border: 1px solid #DEDEDE;"marginwidth="0" marginheight="0" scrolling="no"></iframe>
<div class="markdown">
{{ app_html }}
</div>
{% endblock %}
