{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  New App - 
{% endblock %}

{% block extra_nav %}{{ macros.nav_menu('', user_id) }}{% endblock %}

{% block header_title_lead %}
    <h1><a href="{{ uri_for("apps") }}">My Apps</a> / Create a New App</h1>
    <p class="lead">
        Enter a name, description and command name for a new TinyProbe app.  A new app stub will be stored as a <a href="http://gist.github.com/">gist</a> in your Github account where you can edit it.  You can also <a href="{{ uri_for("apps-public") }}">fork shared apps</a> written by other TinyProbe users. 
    </p>
{% endblock %}

{% block content %}
<img src="/img/labs_bg.png" alt="background-image" class="img-responsive nav-bg">
<div class="container">
</div>
    <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "appname", _("Name"), placeholder=_("Awesome Signup Graph"), class="input-xlarge focused required") }}
            {{ macros.input(form, "appdescription", _("Description"), placeholder=_("Graphs signup events for Buy Local's website over the last week."), class="input-xlong focused required") }}
            {{ macros.input(form, "appcommand", _("Command Line Name"), placeholder=_("awesome"), class="input-xlarge focused required") }}
            {{ macros.input(form, "apppublic", _("Permissions")) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-inverse btn-large"><i class="icon-white icon-ok"></i> {% trans %}Create{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript" language="JavaScript">
    $(window).load(function(){
        $("#email").focus();
    });
    </script>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_register").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            rules: {
                password: 'required',
                c_password: {
                    required: true,
                    equalTo: '#password'
                }
            },
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

