{% extends base_layout %}

{% block title %}
    {{ app_title }} -
{% endblock %}

{% block header_title_lead %}
    <div class="title_actions">
    	<h1><a href="{{ uri_for("apps") }}">My Apps</a> / {{ app_title }}</h1>
    </div>
    <p class='lead'>{{app_description}}</p>
{% endblock %}

{% block content %}
<iframe class="gist-src" src="index.html" style="width: 100%; height: 600px; border: 1px solid #DEDEDE;"marginwidth="0" marginheight="0" scrolling="no"></iframe>
<div id="delete" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Confirm Deletion</h3>
    </div>
    <div class="modal-body">
      <p>Deleting this app will remove it from your acccount and delete its gist from your Github account.  You cool with that?</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="cancel-button" class="btn btn-inverse" data-dismiss="modal">Cancel</a>
      <a href="#" id="delete-button" class="btn btn-danger">Delete App</a>
    </div>
</div>
<div id="refresh_notice" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Cleared Cache</h3>
    </div>
    <div class="modal-body">
      <p>The files for this app have been flushed from TinyProbe's cache.</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="understand-button" class="btn btn-inverse" data-dismiss="modal">I Understand</a>
    </div>
</div>
<div class="actions">
    <span style="float: right;" class="actions">
		<div class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
		  <button id="public-button" rel="tooltip" title="{% if app_public %}This app is public.{% else %}Make app public.{% endif %}" type="button" value="0" class="btn btn-small {% if app_public %}active{% endif %}" data-toggle="button"><i class="icon-eye-open"></i> Public</button>
		  <button id="private-button" rel="tooltip" title="{% if not app_public %}This app is private.{% else %}Make this app private.{% endif %}" type="button" value="1" class="btn btn-small {% if not app_public %}active{% endif %}" data-toggle="button"><i class="icon-lock"></i> Private</button>
		</div>
		<a title="Edit app on Github." href="https://gist.github.com/{{ app_gist_id }}/edit" id="edit_button" class="btn btn-inverse btn-small"><i class="icon-pencil icon-white"></i> Edit</a>
		<a title="Sync and refresh with Github." href="#" id="refresh-button" class="btn btn-inverse btn-small"><i class="icon-refresh icon-white"></i> Refresh </a>
		<input type="hidden" name="is_private" value="0" />
    	<a rel="tooltip" title="Delete this app." href="#" id="delete-main-button" class="btn btn-danger btn-small"><i class="icon-trash icon-white"></i> Delete</a>
    </span>
	<div class="social">
		{{ macros.g_plus_widget("http://www.tinyprobe.com/apps/%s" % app_id ) }}
    	{{ macros.tweet_widget("http://www.tinyprobe.com/apps/%s" % app_id, app_description) }}
	</div>
</div>
<div class="markdown">
{{ app_html }}
</div>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript" src="/js/libs/bootstrap-tooltip.js"></script>
<script type="text/javascript">
	$().ready(function() {
        var csrf_token = "{{ csrf_token() }}";

		// yo, tooltips to help peeps
	    $('.btn').tooltip();

        // delete button
		$('#delete-main-button').click(function() {
			console.log("click delete");
			$('#delete').modal();
			$('#delete-button').click(function() {
		  		$.ajax({
			    	url: '?_csrf_token='+csrf_token,
			    	type: 'DELETE',
			    	success:(function() {
						window.location = '/apps/';
            			return false;
			    	})
		  		});
			});
		});	

		// understand, then reload
        $('#understand-button').click(function() {
        	window.location.reload();
        });

        // refresh memcache of app buttons
        $('#refresh-button').click(function() {
        	$.ajax({
          		url: 'refresh/?&_csrf_token='+csrf_token,
          		type: 'GET',
        	});
        	$('#refresh_notice').modal();
      	});

		// sharing buttons
		$('#public-button').click(function() {
			$.ajax({
			  	url: 'share/?app_public=1&_csrf_token='+csrf_token,
		    	type: 'PUT',
		    	success:(function() {
		    		$('#public-button').addClass("disabled");
		    		$('#private-button').removeClass("disabled");;
		    	})
		 	});
		});
		$('#private-button').click(function() {
			$.ajax({
			  	url: 'share/?app_public=0&_csrf_token='+csrf_token,
		    	type: 'PUT',
		    	success:(function() {
		    		$('#private-button').addClass("disabled");;
		    		$('#private-button').removeClass("disabled");
		    	})
		 	});
		});

	});
</script>
{% endblock %}
