  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-3">
              <ul class="unstyled">
                <li><img class="logo" src="/img/header_logo.svg"></li>
              </ul>
            </div>

            <div class="col-md-2">
              <h4 data-toc-skip="true">About</h4>
              <ul class="unstyled">
                <li><a href="https://lucidworks.com/company">Company</a></li>
                <li><a href="https://lucidworks.com/labs">Labs</a></li>
                <li><a href="https://lucidworks.com/company/careers">Careers</a></li>
                <li><a href="https://lucidworks.com/company/events">Events</a></li>
                <li><a href="https://lucidworks.com/resources/videos/?cat_name=webinar&upcoming=1">Webinars</a></li>
                <li><a href="https://lucidworks.com/company/press">Press</a></li>
                <li><a href="https://lucidworks.com/company/contact">Contact</a></li>
                <li><a href="https://lucidworks.com/company/international">International</a></li>
                <li><a href="https://lucidworks.com/partners">Partners</a></li>
                <li><a href="https://lucidworks.com/legal/privacy-policy/">Privacy Policy</a></li>
              </ul>
            </div>

            <div class="col-md-2">
              <h4 data-toc-skip="true">Solutions</h4>
              <ul class="unstyled">
                <li><a href="https://lucidworks.com/search-and-discovery">Search and Discovery</a></li>
                <li><a href="https://lucidworks.com/customer-analytics">Customer Analytics</a></li>
                <li><a href="https://lucidworks.com/digital-commerce">Digital Commerce</a></li>
                <li><a href="https://lucidworks.com/site-search">Site Search</a></li> 
                <li><a href="https://lucidworks.com/government">Government</a></li>
                <li><a href="https://lucidworks.com/finance">Financial Services</a></li>
              </ul>
            </div>

            <div class="col-md-2">
              <h4 data-toc-skip="true">Services</h4>
              <ul class="unstyled">
                <li><a href="https://lucidworks.com/solr-support">Support for Solr</a></li>
                <li><a href="https://lucidworks.com/resources/training-and-consulting">Training &amp; Consulting</a></li>
                <li><a href="https://doc.lucidworks.com/">Documentation</a>
                <li><a href="https://github.com/lucidworks/streams#lucidworks-streams">Lab's Code</a></li>
              </ul>
            </div>

            <div class="col-md-3">
              <h4 data-toc-skip="true">Follow Us</h4>
                <ul class="unstyled social-links">
                  <li>
                    <a href="https://github.com/lucidworks"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/Lucidworks"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/lucidworks/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/lucidworks"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
