<!-- creates a form input field -->
{% macro input(form, name, label, size, type='text') -%}
  <div class="{{size|safe}} {% if getattr(form,name).errors %} has-error{% endif %} form-padding" id="{{name}}-field">
    <label class="control-label" for="{{ name }}">{{ label|safe }}</label><br/>
    {{ getattr(form,name)(type=type, **kwargs)|safe }}
  </div>
{%- endmacro %}

<!-- side menu widget -->
{% macro side_menu(page,admin) -%}
  <ul class="nav navbar navbar-dark" style="background-color: #fff;">
    <li class="nav-item"><a {% if page=="labs" %} class="nav-link active"{% else %}class="nav-link" {% endif %} href="{{ uri_for('labs') }}">Applications</a></li>
    <li class="nav-item"><a {% if page=="instances" %} class="nav-link active"{% else %}class="nav-link" {% endif %} href="{{ uri_for('instances-list') }}">Instances</a></li>
    <!--<li{% if page=="applications" %} class="active"{% endif %}><a href="{{ uri_for('applications-list') }}">Applications</a></li>-->  
    <li class="nav-item"><a {% if page=="settings" %} class="nav-link active"{% else %}class="nav-link" {% endif %} href="{{ uri_for('account-settings') }}">Settings</a></li>
  </ul>
{%- endmacro %}

<!-- admin side menu widget -->
{% macro admin_side_menu(page) -%}
  <ul class="nav navbar navbar-dark" style="background-color: #fff;">
    <li class="nav-item"><a {% if page=="templates" %} class="nav-link active"{% else %}class="nav-link" {% endif %} href="{{ uri_for('admin-streams') }}">Templates</a></li>
    <li class="nav-item"><a {% if page=="instances" %} class="nav-link active"{% else %}class="nav-link" {% endif %} href="{{ uri_for('admin-instances') }}">Instances</a></li>
    <li class="nav-item"><a {% if page=="users" %} class="nav-link active"{% else %}class="nav-link" {% endif %} href="{{ uri_for('admin-users') }}">User Bits</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ uri_for('labs')}}">&lt;&lt; Back</a></li>
  </ul>
{%- endmacro %}

<!-- instance states side menu widget -->
{% macro instance_status(status, size="", name="steve") %}
  {% if status=="PROVISIONING" %}
  <button id="status-{{ name }}" type="button" class="btn btn-default {{ size }}" href="#"><span class="fa fa-hourglass-1"></span> Provisioning</button>
  {% endif %}
  {% if status=="STAGING" %}
  <button id="status-{{ name }}" type="button" class="btn btn-light {{ size }}" href="#"><span class="fa fa-hourglass-half"></span> Staging</button>
  {% endif %}
  {% if status=="CONFIGURING" %}
  <button id="status-{{ name }}" type="button" class="btn btn-dark {{ size }}" href="#"><span class="fa fa-hourglass-end"></span> Configuring</button>
  {% endif %}
  {% if status=="RUNNING" %}
  <button id="status-{{ name }}" type="button" class="btn btn-success {{ size }}"><span class="fa fa-terminal"></span> Running</button>
  {% endif %}
  {% if status=="STOPPING" %}
  <button id="status-{{ name }}" type="button" class="btn btn-warning {{ size }}" href="#"><span class="fa fa-hand-stop-o"></span> Stopping</button>
  {% endif %}
  {% if status=="TERMINATED" %}
  <button id="status-{{ name }}" type="button" class="btn btn-danger {{ size }}" href="#"><span class="fa fa-bed"></span> Sleeping</button>
  {% endif %}
  {% if status=="BUILDING" %}
  <button id="status-{{ name }}" type="button" class="btn btn-info {{ size }}" href="#"><span class="fa fa-truck"></span> Building</button>
  {% endif %}
{% endmacro %}

<!-- google plus widget -->
{% macro g_plus_widget(data_url) -%}
  <div class="g-plusone" 
    data-href="{{ data_url }}" 
    data-size="medium" 
    data-annotation="none">
  </div>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); 
      po.type = 'text/javascript'; 
      po.async = true; 
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; 
      s.parentNode.insertBefore(po, s);
    })();
  </script>
{%- endmacro %}


