<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>fusion</servlet-name>
    <servlet-class>com.lucidworks.streams.sockitter.FusionGateway</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>fusion</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>