/* General Styles */
html, body {
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: underline;
  color: #222;
}
.breadcrumb-arrow {
  background-color: #f8f8f8;
}
h4, h5, h6 {
  margin-bottom: 10px;
}
/* navbar */
.navbar-fixed-top {
  background-image: -webkit-linear-gradient(top, #fff, #f8f8f8);
  background-image: -o-linear-gradient(top, #fff, #f8f8f8);
  background-image: linear-gradient(to bottom, #fff, #f8f8f8);
  border-bottom: 1px solid #d2d2d2;
  opacity:0.9;
  filter:alpha(opacity=90);
}
ul.nav.navbar-nav > li.active > a,
ul.nav.navbar-nav > li > a {
  text-decoration: none;
}
a.navbar-brand.navbar-logo {
  text-decoration: none;
}
.dropdown-menu a:link, a:active{
  text-decoration: none;
}
.dropdown-menu .dropdown-header {
  padding: 3px 20px;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.dropdown-menu li a {
  padding: 3px 20px;
  color: #333;
}
.dropdown-menu .divider {
  background-color: #e5e5e5;
  border-bottom: none;
}
.dropdown-menu {
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
a.dropdown-toggle {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}
.navbar-toggle .icon-bar {
  background-color: #444;
}
/* sign in button */
ul.nav.navbar-nav > li > button {
  margin: 8px 0 0 10px;
  height: auto;
}
.nav > li > .active {
  background-color: #efefef;
}
/* form errors */
.error .help-inline {
  color: #ff2323;
}

/* footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: auto;
  margin: 0 auto -175px;
  padding: 0 0 170px;
}
ul.unstyled, ol.unstyled {
  list-style: none;
  padding: 0px;
}
footer {
  vertical-align: baseline;
  padding-top: 16px;
  font-size: 13px;
  background-color: #252525;
  border-top: 0;
  border-top: 0;
  min-height: 170px;
}
footer h4 {
  color: #999;
}
footer p {
  color: #999;
}
footer a {
  color: #fff;
}
footer ul.unstyled a {
  color: #fff;
  text-decoration: none;
}
footer ul.unstyled a:hover {
  text-decoration: underline;
}
footer #footer-floor {
  background: #1b1b1b;
  padding-top: 10px;
}
footer #footer-floor h3, footer #footer-floor h4 {
  color: #fff;
}
footer #footer-floor #elsewhere-msg {
  padding-top: 18px;
}
footer #elsewhere-icons {
  padding: 0px;
  margin: 0px;
}
footer #elsewhere-icons a {
  background: url("/img/social_icons.png") 0 0 no-repeat;
  float: left;
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-indent: -900px;
  margin-right: 5px;
  margin-bottom: 10px;
}
footer #elsewhere-icons a.twitter { 
	background-position: -0px; 
}
footer #elsewhere-icons a.github { 
	background-position: -70px; 
}
footer #elsewhere-icons a.googleplus { 
	background-position: -35px; 
}
footer ul, h4 {
	margin-top: 4px;
}
footer ul {
	margin-bottom: 16px;
}
.footer, .push {
	height: 200px;
}
.btn-info, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  color: #FFF;
  background-color: #3BAFD9;
  border-color: #46B8DA;
}
.btn-info:hover, .btn-info:focus {
  color: #fff;
  background-color: #4BBFE9;
  border-color: #36aacc;
}
/* sliders - the guy that wrote this has no clue about documentation */
.toggle {
  height: 22px;
  width: 70px;
}
.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  direction: ltr;
}
.toggle-slide .toggle-on,.toggle-slide .toggle-off,.toggle-slide .toggle-blob {
    float: left;
}
.toggle-slide .toggle-blob {
    position: relative;
    z-index: 99;
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.toggle-modern .toggle-slide {
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c5c9), color-stop(1, #a1a9af));
  background-image: -webkit-linear-gradient(#c0c5c9, #a1a9af);
  background-image: -moz-linear-gradient(#c0c5c9, #a1a9af);
  background-image: -o-linear-gradient(#c0c5c9, #a1a9af);
  background-image: -ms-linear-gradient(#c0c5c9, #a1a9af);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c5c9', endColorstr='#a1a9af');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c5c9', endColorstr='#a1a9af')";
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
}
  .toggle-modern .toggle-slide .toggle-on, .toggle-modern .toggle-slide .toggle-off {
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 11px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .toggle-modern .toggle-slide .toggle-off,.toggle-modern .toggle-slide .toggle-off.active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #737e8d), color-stop(1, #3f454e));
    background-image: -webkit-linear-gradient(#737e8d, #3f454e);
    background-image: -moz-linear-gradient(#737e8d, #3f454e);
    background-image: -o-linear-gradient(#737e8d, #3f454e);
    background-image: -ms-linear-gradient(#737e8d, #3f454e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737e8d', endColorstr='#3f454e');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#737e8d', endColorstr='#3f454e')";
  }
  .toggle-modern .toggle-slide .toggle-on,.toggle-modern .toggle-slide .toggle-on.active {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4894cd), color-stop(1, #2852a6));
    background-image: -webkit-linear-gradient(#4894cd, #2852a6);
    background-image: -moz-linear-gradient(#4894cd, #2852a6);
    background-image: -o-linear-gradient(#4894cd, #2852a6);
    background-image: -ms-linear-gradient(#4894cd, #2852a6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4894cd', endColorstr='#2852a6');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4894cd', endColorstr='#2852a6')";
  }
  .toggle-modern .toggle-select .toggle-off, .toggle-modern .toggle-select .toggle-on {
    background: none;
  }
  .toggle-modern .toggle-slide .toggle-blob {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c5c9), color-stop(1, #81898f));
    background-image: -webkit-linear-gradient(#c0c6c9, #81898f);
    background-image: -moz-linear-gradient(#c0c6c9, #81898f);
    background-image: -o-linear-gradient(#c0c6c9, #81898f);
    background-image: -ms-linear-gradient(#c0c6c9, #81898f);
    background-image: linear-gradient(#c0c6c9, #81898f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c6c9', endColorstr='#81898f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c5c9', endColorstr='#a1a9af')";
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
  }
  .toggle-modern .toggle-slide .toggle-blob:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a1a9af), color-stop(1, #a1a9af));
    background-image: -webkit-linear-gradient(#a1a9af, #81898f);
    background-image: -moz-linear-gradient(#a1a9af, #a1a9af);
    background-image: -o-linear-gradient(#a1a9af, #a1a9af);
    background-image: -ms-linear-gradient(#a1a9af, #a1a9af);
    background-image: linear-gradient(#a1a9af, #a1a9af);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a9af', endColorstr='#a1a9af');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1a9af', endColorstr='#a1a9af')";
  }