/*  Home page  */

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text,
.text-color-black {
    color: #000
}

a,
a:active,
a:focus,
a:hover,
button.bg-default {
    cursor: pointer;
    text-decoration: none
}

button.bg-default,
ul.no-padding a {
    text-decoration: none
}

body div {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.navbar-trans {
    position: absolute;
}

/*.navbar-trans .container {
  /*padding-left: 13px;
  padding-right: 27px;
  padding-left: 15px;
  padding-right: 15px;
}
*/

.navbar-default {
    right: 0;
    left: 0;
    z-index: 100;
    top: 0;
    border-width: 0 0 1px;
    border-bottom: none;
    background-color:transparent;
}

/*.navbar-custom {
  /*background-image: url("../images/whatruns_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
      margin-top: -325px !important;
}*/

/*.no-margin {
    margin: 0!important
}*/

.padding-10 {
    padding: 10px!important
}



.left-img {
    position: absolute;
    top: 68px;
    z-index: 200;
    left: 0
}

.img-position {
    position: fixed
}

.right-data {
    position: absolute;
    z-index: 200;
    /*height: 70vh;*/
    height:50vh;
    width: 50%;
    max-width: 600px;
    vertical-align: middle;
    padding-left: 4%;
    display: table;
    top: 185px
}

.bg-img-1 {
    /*background: url(../images/whatruns_2-1_image_without_shadow.png) center no-repeat;*/
    background: url(../img/moon.gif) center no-repeat;
    background-size: contain;
    height: 640px;
    width: 42vw;
    /*position: fixed;*/
}

.title {
    margin-top: 10%;
    margin-bottom: 15px
}

.title h3 {
    font-size: 44px;
    text-align: left;
    line-height: 1.3;
    font-weight: 100;
    letter-spacing: .02em
}

.title span {
    font-weight: 700
}

span.free {
    font-weight: 400;
    color: #ffe6e6;
    font-size: 15px
}

button.bg-default {
    /*background-color: #e04f42;
    background: linear-gradient(180deg, #e04f42 0, #d0352c);*/
    background-color: #ff4318;
    background: linear-gradient(180deg, #ff4318 0, #f2360c);
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    height: 50px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    outline: 0;
    transition: opacity .2s ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.text-color-white {
    color: #fff
}

.bg-default {
    background: #ff4406
}

.fa {
    margin: 0 5px
}

.browser-name.active {
    visibility: visible
}

button.bg-default:active,
button.bg-default:focus,
button.bg-default:hover {
    /*background: linear-gradient(0deg, #ea6756 0, #d0352c);
    box-shadow: inset 0 1px 0 #de210d, inset 0 -1px 0 #d64e46; */
    background: linear-gradient(0deg, #ed6647 0, #ff4318);
    box-shadow: inset 0 1px 0 #de210d, inset 0 -1px 0 #d64e46;
    color: #fff;
    outline: 0
}

.bg-white {
  padding-bottom: 0 !important;
}

.browser-name {
    visibility: hidden
}

.padding-25 {
    padding: 0 25px 25px!important
}

.padding-25 h2 {
  margin:0;
}

/*.padding-elements {
  padding:0 25px 0 25px;
}*/

.font-40 {
    font-size: 40px
}

.font-45 {
  font-size: 45px;
}

.sub-heading h5 {
    margin: 10px 0 20px;
    font-size: 18px;
    color: #333;
    line-height: 27px;
    display: block
}

.apps-container {
    margin: 0 auto;
}

.no-padding {
    padding: 0!important
}

.odd {
    margin-top: -24px!important
}

.wrs-app-img {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    border-radius: 50%;
    width: 96px;
    position: relative;
    height: 96px;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #fff;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    margin: 0 auto;
    transition: top .15s ease-in, box-shadow .12s ease-in
}

.wrs-app-img:active,
.wrs-app-img:focus,
.wrs-app-img:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2)
}

.wrs-app-img img {
    max-width: 80%!important;
    height: auto!important;
    max-height: 100%!important
}

.even {
    margin-top: 16px!important
}

.footer,
.footer h5,
.footer ul li a {
    color: #000;
    background-color: #f6f6f6!important;
}

.footer h5 {
  font-weight: bold;
}

.footer ul li {
    padding: 5px 0;
}

.footer .container {
      margin-top: 23px;
}

section#third .wrapper ul li.dark,
section#third .wrapper ul li.white {
    background: #fff
}

.footer .logo {
    max-width: 230px;
}

ul.no-padding {
    list-style: none;
    padding: 0
}

@media only screen and (max-width:767px) {

.navbar-trans {
  position: relative;
}

.nomargin {
  margin-top: -22.5%;
}

  .navbar-custom {
    height: auto;
  }

    .navbar-brand img {
      width:100%;
    }

    .mobile-text-center,
    .mobile-text-center ul li,
    .title h3 {
        text-align: center
    }
    section#third {
        height: 47vw
    }
    .mobile-font-40 {
        font-size: 24px
    }
    .mobile-padding-bottom-20 {
        padding-bottom: 20px
    }
    .mobile-no-padding {
        padding: 0!important
    }
    .bg-white {
      /*margin-top: 100px;*/
        margin-top: 30px;
    }
    .mobile-hide {
        display: none!important;
        visibility: hidden!important
    }
    .right-data {
      position: relative;
        width: 100%;
        padding-left: 0;
        max-width: none;
        margin-top: 87px;
        top:0;
    }
    .inner-content {
        margin-left: 40px;
        margin-right: 40px
    }
    .wrs-app-img {
        margin-top: 16px!important
    }
}

@media (min-width:768px) {
    .data-2,
    .right-data {
        right: 2%
    }
    section#third {
        height: 39vw
    }
    .bg-white {
      margin-top: 295px;
        /*margin-top: 250px;*/
    }
    .data-2 {
        width: 50%;
        position: relative;
        float: right;
        top: 400px;
        /*top:247px;*/
    }
    .bg-img-1 {
        width: 42vw
    }
    .bg-img-2 {
        margin-top: 375px
    }
}

@media (min-width:992px) {
    section#third {
        height: 36vw
    }
    .bg-img-2 {
        margin-top: 367px
    }
    .data-2 {
        top: 400px;
        /*top:285px;*/
    }
}

@media (min-width:1200px) {
    .right-data {
        right: 7%
    }
    .data-2 {
        width: 50%;
        position: relative;
        float: right;
        top:345px;
        /*top: 412px;*/
        right: 6%
    }
    .bg-img-1,
    .bg-img-2 {
        width: 36vw
    }
    .bg-img-2 {
        margin-top: 363px
    }
    .container {
        width: 1170px
    }
}

@media (min-width:1601px) {
    .container {
        width: 1170px
    }
    .right-data {
        max-width: none
    }
    .inner-content {
        display: block
    }
    .data-2 {
        height: 500px
    }
    .left-img {
        top: 140px
    }
}

.elements {
    width: 100%;
    padding-left: 0;
    padding-right: 0
}

.elements .mobile-no-padding {
  padding-left: 0px;
}

@keyframes logo {
    0% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 0
    }
    0.1% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1
    }
    99.9% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 0
    }
}

@keyframes updown {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(-5px);
        -moz-transform: translateX(5px) translateY(-5px);
        -o-transform: translateX(5px) translateY(-5px);
        transform: translateX(5px) translateY(-5px)
    }
}

@keyframes downup {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(5px);
        -moz-transform: translateX(5px) translateY(5px);
        -o-transform: translateX(5px) translateY(5px);
        transform: translateX(5px) translateY(5px)
    }
}

@-moz-keyframes logo {
    0% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 0
    }
    0.1% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1
    }
    99.9% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 0
    }
}

@-moz-keyframes updown {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(-5px);
        -moz-transform: translateX(5px) translateY(-5px);
        -o-transform: translateX(5px) translateY(-5px);
        transform: translateX(5px) translateY(-5px)
    }
}

@-moz-keyframes downup {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(5px);
        -moz-transform: translateX(5px) translateY(5px);
        -o-transform: translateX(5px) translateY(5px);
        transform: translateX(5px) translateY(5px)
    }
}

@-o-keyframes logo {
    0% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 0
    }
    0.1% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1
    }
    99.9% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 0
    }
}

@-o-keyframes updown {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(-5px);
        -moz-transform: translateX(5px) translateY(-5px);
        -o-transform: translateX(5px) translateY(-5px);
        transform: translateX(5px) translateY(-5px)
    }
}

@-o-keyframes downup {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(5px);
        -moz-transform: translateX(5px) translateY(5px);
        -o-transform: translateX(5px) translateY(5px);
        transform: translateX(5px) translateY(5px)
    }
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 0
    }
    0.1% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1
    }
    99.9% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 1
    }
    100% {
        -webkit-transform: translateX(-200vw) translateY(0);
        -moz-transform: translateX(-200vw) translateY(0);
        -o-transform: translateX(-200vw) translateY(0);
        transform: translateX(-200vw) translateY(0);
        opacity: 0
    }
}

@-webkit-keyframes updown {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(-5px);
        -moz-transform: translateX(5px) translateY(-5px);
        -o-transform: translateX(5px) translateY(-5px);
        transform: translateX(5px) translateY(-5px)
    }
}

@-webkit-keyframes downup {
    0%,
    100% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0)
    }
    50% {
        -webkit-transform: translateX(5px) translateY(5px);
        -moz-transform: translateX(5px) translateY(5px);
        -o-transform: translateX(5px) translateY(5px);
        transform: translateX(5px) translateY(5px)
    }
}

section#third {
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding: 35px 0
}

section#third .wrapper {
    position: relative;
    width: 300vw;
    height: 100%
}

section#third .wrapper ul:nth-of-type(1) {
    left: 0;
    -webkit-animation: logo 180s linear;
    -moz-animation: logo 180s linear;
    -o-animation: logo 180s linear;
    animation: logo 180s linear;
    opacity: 0
}

section#third .wrapper ul:nth-of-type(2) {
    left: 100vw;
    -webkit-animation: logo 180s infinite linear;
    -moz-animation: logo 180s infinite linear;
    -o-animation: logo 180s infinite linear;
    animation: logo 180s infinite linear;
    opacity: 0
}

section#third .wrapper ul:nth-of-type(3) {
    left: 100vw;
    -webkit-animation: logo 180s infinite linear;
    -moz-animation: logo 180s infinite linear;
    -o-animation: logo 180s infinite linear;
    animation: logo 180s infinite linear;
    -webkit-animation-delay: 88s;
    -moz-animation-delay: 88s;
    -o-animation-delay: 88s;
    animation-delay: 88s
}

section#third .wrapper ul {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%
}

section#third .wrapper ul li.medium.dark {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .1)
}

section#third .wrapper ul li.large.dark {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
}

section#third .wrapper ul li:nth-of-type(1) {
    top: 0;
    left: 0;
    -webkit-animation: updown 10s infinite ease;
    -moz-animation: updown 10s infinite ease;
    -o-animation: updown 10s infinite ease;
    animation: updown 10s infinite ease
}

section#third .wrapper ul li img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    max-width: 75%
}

section#third .wrapper ul li .sp-wrapper {
    position: absolute;
    left: 50%;
    bottom: -27px;
    width: 200px;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -o-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

section#third .wrapper ul li .sp-wrapper span {
    display: inline-block;
    background: #fff;
    font-size: .72rem;
    line-height: 24px;
    border-radius: 12px;
    padding: 0 10px;
    width: auto
}


section#third .wrapper ul li:nth-of-type(2) {
    top: 4vw;
    left: 11vw;
    -webkit-animation: downup 12s infinite ease;
    -moz-animation: downup 12s infinite ease;
    -o-animation: downup 12s infinite ease;
    animation: downup 12s infinite ease
}

.big-logo {
  max-width:60% !important;
}

.stripe-round {
  border-radius: 50%;
}

section#third .wrapper ul li.large {
    z-index: 3;
    /*width: 12vw;
    height: 12vw*/
    width: 12vw;
    height: 12vw
}

section#third .wrapper ul li {
    display: block;
    position: absolute;
    border-radius: 50%
}



section#third .wrapper ul li:nth-of-type(3) {
    top: 2vw;
    left: 37vw;
    -webkit-animation: downup 14s infinite ease;
    -moz-animation: downup 14s infinite ease;
    -o-animation: downup 14s infinite ease;
    animation: downup 14s infinite ease
}

section#third .wrapper ul li.small {
    z-index: 1;
    width: 7vw;
    height: 7vw
}



section#third .wrapper ul li:nth-of-type(4) {
    top: 0;
    left: 56vw;
    -webkit-animation: updown 11s infinite ease;
    -moz-animation: updown 11s infinite ease;
    -o-animation: updown 11s infinite ease;
    animation: updown 11s infinite ease
}

section#third .wrapper ul li.medium {
    z-index: 2;
    width: 10vw;
    height: 10vw
}

section#third .wrapper ul li.small.dark {
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1)
}

section#third .wrapper ul li:nth-of-type(5) {
    top: 0;
    left: 78vw;
    -webkit-animation: downup 15s infinite ease;
    -moz-animation: downup 15s infinite ease;
    -o-animation: downup 15s infinite ease;
    animation: downup 15s infinite ease
}

section#third .wrapper ul li:nth-of-type(6) {
    top: 4vw;
    left: 24vw;
    -webkit-animation: updown 12s infinite ease;
    -moz-animation: updown 12s infinite ease;
    -o-animation: updown 12s infinite ease;
    animation: updown 12s infinite ease
}

section#third .wrapper ul li:nth-of-type(7) {
    top: 7vw;
    left: 50vw;
    -webkit-animation: updown 10s infinite ease;
    -moz-animation: updown 10s infinite ease;
    -o-animation: updown 10s infinite ease;
    animation: updown 10s infinite ease
}

section#third .wrapper ul li:nth-of-type(8) {
    top: 7vw;
    left: 67vw;
    -webkit-animation: downup 12s infinite ease;
    -moz-animation: downup 12s infinite ease;
    -o-animation: downup 12s infinite ease;
    animation: downup 12s infinite ease
}

section#third .wrapper ul li:nth-of-type(9) {
    top: 13vw;
    left: 78vw;
    -webkit-animation: updown 15s infinite ease;
    -moz-animation: updown 15s infinite ease;
    -o-animation: updown 15s infinite ease;
    animation: updown 15s infinite ease
}

section#third .wrapper ul li:nth-of-type(10) {
    top: 8vw;
    left: 89vw;
    -webkit-animation: downup 13s infinite ease;
    -moz-animation: downup 13s infinite ease;
    -o-animation: downup 13s infinite ease;
    animation: downup 13s infinite ease
}

section#third .wrapper ul li:nth-of-type(11) {
    top: 12vw;
    left: 2vw;
    -webkit-animation: updown 14s infinite ease;
    -moz-animation: updown 14s infinite ease;
    -o-animation: updown 14s infinite ease;
    animation: updown 14s infinite ease
}

section#third .wrapper ul li:nth-of-type(12) {
    top: 20vw;
    left: 55vw;
    -webkit-animation: downup 10s infinite ease;
    -moz-animation: downup 10s infinite ease;
    -o-animation: downup 10s infinite ease;
    animation: downup 10s infinite ease
}

section#third .wrapper ul li:nth-of-type(13) {
    top: 19vw;
    left: 13vw;
    -webkit-animation: downup 12s infinite ease;
    -moz-animation: downup 12s infinite ease;
    -o-animation: downup 12s infinite ease;
    animation: downup 12s infinite ease
}

section#third .wrapper ul li:nth-of-type(14) {
    top: 17vw;
    left: 28vw;
    -webkit-animation: updown 14s infinite ease;
    -moz-animation: updown 14s infinite ease;
    -o-animation: updown 14s infinite ease;
    animation: updown 14s infinite ease
}

section#third .wrapper ul li:nth-of-type(15) {
    top: 14vw;
    left: 41vw;
    -webkit-animation: downup 10s infinite ease;
    -moz-animation: downup 10s infinite ease;
    -o-animation: downup 10s infinite ease;
    animation: downup 10s infinite ease
}

section#third .wrapper ul li:nth-of-type(16) {
    top: 18vw;
    left: 66vw;
    -webkit-animation: downup 12s infinite ease;
    -moz-animation: downup 12s infinite ease;
    -o-animation: downup 12s infinite ease;
    animation: downup 12s infinite ease
}

section#third .wrapper ul li:nth-of-type(17) {
  left: 89vw;
  top: 18vw;
    -webkit-animation: downup 15s infinite ease;
    -moz-animation: downup 15s infinite ease;
    -o-animation: downup 15s infinite ease;
    animation: downup 15s infinite ease
}


/*  Downloads page  */

.full-height {
    height: 100%;
    transition: .35s ease-out;
    /*position: absolute;
    left: 250px;
    top: 70px;*/
    z-index: 200;
}

.page-content-inner {
    min-height: 65vh;
}

.footer-part,
.footer-part h5,
.footer-part ul li a {
  color: #000;
  background-color: #f6f6f6!important;
}


.footer-part {
  margin-top: 260px;
}

.footer-part h5 {
  font-weight: bold;
}

.footer-part .container {
      margin-top: 23px;
}

.footer-part ul li {
    padding: 5px 0;
}

.footer-part .logo {
    max-width: 230px;
}

.page-wrapper-middle {
      position: absolute;
      top: 75px;
}

.page-content .container {
  padding-left:0 !important;
}

@media only screen and (max-width:767px) {
.footer-part {
    margin-top: 0;
}

.page-wrapper-middle {
      position: relative;
      top: 0;
}

}

@media (min-width:768px) {
  .footer-part {
    margin-top: 400px;
}
}

@media (min-width:992px) {
  .footer-part {
    margin-top: 260px;
}
}


/*  About Us page */

.about-wrapper {
  padding-left: 17px;
  position: relative;
  top:0;
}

.nav-about {
  padding: 10px !important;
}


.page-middle {
    padding-top: 20px;
    padding-bottom: 40px;
}

.about-us {
    margin-bottom: 5rem;
}

.about-us p, .common-spacing p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.nav-bg{
  width:100%;
}
@media only screen and (max-width:767px) {
  .about-wrapper {
    padding-left: 15px;
  }
}
