html, body {
}
body {
}
h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 3px;
}
input.ip, input.ip:focus {
  border: 0px;
  width: 100%;
  outline: 0;
  background-color: inherit;
}
pre {
  height: auto;
  max-height: 900px;
  overflow: auto;
  background-color: #F9F9F9;
}
.nav-tabs {
  background-color: #F9F9F9;
}
#spinner {
  height: 200px;
}
.container {
  width: 98% !important;
  margin-left: 14px;
  padding-right: 30px;
}
.content {
	margin-top: 20px;
  margin-bottom: 70px;
}
.padding {
  margin-bottom: 200px;
}
.page-header > h1, .page-header > h2 , .page-header {
	margin-top: 0px;
	margin-bottom: 0px;
}
.section-header > h1, .section-header > h2 {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: px;
  border-bottom: 1px solid #999;
}
.table > thead > tr > th {
  color: #888;https://streams.lucidworks.com/img/labs_bg.png
}
.form-padding {
	margin-bottom: 16px;
}
.form-padding:last-of-type {
  margin-bottom: 12px;
}
.form-buttons {
  margin-left: 30px;
}
.form-edit {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}
.form-has-button {
  padding-right: 8px;
}
.form-ssh-key {
  word-break: break-all;
}
#new-group-create-button {
  margin-top: 25px;
}
.steps {
  margin-bottom: 30px;
}
.nav-pills > li > a {
    color: #14C6BC;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #14C6BC;
  background-color: #FFF;
  border: 1px solid #14C6BC;
  border-left: 6px solid #14C6BC;
}
.nav-pills a {
	text-decoration: none;
}
span.label-info {
  background-color: #14C6BC;
}
button.btn-inverse {
  background-color: #444;
}
btn:hover, .btn:focus, .btn:active, .btn.active {
  color: #FFF;
  /* border-color: #CCD1D9; */
  /* background-color: #CCD1D9; */
  outline: none !important;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
  background-color: #666;
}
h2 small {
	color: #777;
}
h1 small, h2 small, h3 small {
  color: #777;
}
.control-label {
  color: #888;
}
#address {
  margin-top: 10px;
  font-size: 12px;
}
.instance-detail-row {
  padding-bottom: 30px;
  border-bottom: 1px dashed #bbb;
}
.button-padding {
  margin-top: 30px;
}
.timer-state {
  margin-top: 20px;
}
.instance-state {
  font-size: 18px;
  font-weight: normal;
}
.nav-stacked {
  padding-top: 20px;
}
.install-video {
	margin: 20px 0 20px;
}
#login-tfa {
  margin-top: 10px;
}
.toggle-modern {
  padding-top: 3px;
}
.map-overlay {
  position:absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 32px;
  right: 20px;
  width: 150px;
  padding: 5px;
  font-size: 11px;
}
.map-overlay input {
  font:inherit;
}
.map-overlay label {
  margin: 0px;
}
#map { 
  position:relative; 
  top: 0; 
  bottom: 0;
  height: 500px;
  width: 100%;
  margin-bottom: 10px;
}
#instance-map {
  float: none;
  margin: 0 auto;
  position: relative; 
  height: 256px;
  width: 256px;
  margin-bottom: 15px;  
}
.leaflet-popup-content {
  padding: 19px 9px 15px !important;
}
.bootstrap-tagsinput { 
  width: 100%; 
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}