<layout:grid>
    <layout:block md="3-5" md-offset="1-5">
        <div class="branding" styling="text-left">                    
            <h2 class="heading">Dashboard Page</h2>
            <h4>Interactive dashboards can offer your visitors a broad view of all data in your app, presented as a series of visualizations.</h4>
        </div>
    </layout:block>
    <layout:block md="3-5" md-offset="1-5" class="dashboard-preview">
        <section class="container">
          <div id="card" ng-class="{flipped: flipped}">
            <figure class="front">
                <img src="/setup/assets/icon-page-dashboard.png" />
            </figure>
            <figure class="back">
                <div hljs hljs-source="markup.results_formatted" hljs-language="html">
                </div>
            </figure>
          </div>
        </section>
    </layout:block>
    <layout:block>
        <layout:box>
            <p class="codetoggle"><a styling="button" class="icon-code" ng-click="flip()">HTML</a></p>
        </layout:box>
    </layout:block>
</layout:grid>