  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-3">
              <ul class="unstyled">
                <li><img class="logo" src="/img/header.logo.svg"></li>
              </ul>
            </div>

            <div class="col-md-2">
              <h4>About</h4>
              <ul class="unstyled">
                <li><a href="/company">Company</a></li>
                <li><a href="/labs">Labs</a></li>
                <li><a href="/company/careers">Careers</a></li>
                <li><a href="/company/events">Events</a></li>
                <li><a href="/resources/videos/?cat_name=webinar&upcoming=1">Webinars</a></li>
                <li><a href="/company/press">Press</a></li>
                <li><a href="/company/contact">Contact</a></li>
                <li><a href="/company/international">International</a></li>
                <li><a href="/partners">Partners</a></li>
                <li><a href="/legal/privacy-policy/">Privacy Policy</a></li>
              </ul>
            </div>

            <div class="col-md-2">
              <h4>Solutions</h4>
              <ul class="unstyled">
                <li><a href="/search-and-discovery">Search and Discovery</a></li>
                <li><a href="/customer-analytics">Customer Analytics</a></li>
                <li><a href="/digital-commerce">Digital Commerce</a></li>
                <li><a href="/site-search">Site Search</a></li> 
                <li><a href="/government">Government</a></li>
                <li><a href="/finance">Financial Services</a></li>
              </ul>
            </div>

            <div class="col-md-2">
              <h4>Services</h4>
              <ul class="unstyled">
                <li><a href="/solr-support">Support for Solr</a></li>
                <li><a href="/resources/training-and-consulting">Training &amp; Consulting</a></li>
              </ul>
            </div>

            <div class="col-md-3">
              <h4>Follow Us</h4>
                <ul class="unstyled social-links">
                  <li>
                    <a href="https://github.com/lucidworks"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/Lucidworks"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/lucidworks/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/lucidworks"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
