{# html level #}
  {# body level #}    
    <!--navbar start-->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand navbar-logo" href="/"><img src="/img/header_logo_labs_1x.png"></a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="https://lucidworks.com/labs">Applications</a></li>
                <li><a class='{% if "labdocs" in path %}active{% endif %}' href="{{ uri_for('labdocs') }}">Docs</a></li>
                {% if user_id %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="//{{ gravatar_url }}" class="img-circle img-responsive" alt="Author Image" class="img-circle"/>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Account</li>
                    <li><a href="{{ uri_for('account-dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ uri_for('instances-list') }}">Your Instances</a></li>
                    <li><a href="{{ uri_for('account-settings') }}">Settings</a></li>
                    {% if admin %}
                    <li class="divider"></li>
                    <li class="dropdown-header">The Admin</li>
                    <li><a href="{{ uri_for('admin-streams') }}">Templates</a></li>
                    <li><a href="{{ uri_for('admin-instances') }}">All Instances</a></li>
                    <li><a href="{{ uri_for('admin-users') }}">Users</a></li>
                    <li><a target="_blank" href="{{ admin_interface_url }}">AppEngine</a></li>
                    {% else %}
                      {% if isdev %}
                        <li class="divider"></li>
                        <li><a href="http://0.0.0.0:8088/datastore?kind=User">Setup Admin</a></li>
                      {% endif %}
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ uri_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
                {% elif path != "/login" %}
                <li><button id="nav-login" class="btn btn-success" >Sign In</button></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar end -->
  {# end body level #}
{# end html level #}
