{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Dashboard :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="confirm" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login via Github Required</h4>
      </div>
      <div class="modal-body">
        <p>Lucidworks Labs uses your Github credentials to launch trial Fusion instances on our Google Cloud account at no cost to you. If you do not have a Github account, signup for one at <a target=_blank href="https://github.com/join">github.com</a>.</p>
        <p class="text-center"><img src="/img/github.png"/></p>
        <p>You can also download and install Fusion locally or on you own infrastructure by clicking <strong>Download Fusion</strong>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" id="download-button" class="btn btn-default">Download Fusion</button>
        <button type="button" id="launch-button" class="btn btn-success">Launch w/Your Github Account</button>
      </div>
    </div>
  </div>
</div>
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Welcome to Lucidworks Labs</h1>
      <p class="blurb">&#8220;Nothing is too wonderful to be true if it be consistent with the laws of nature.&#8221; ― Michael Faraday</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("dashboard") }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Dashboard</h2>
            <div class="row">
              <div class="col-md-12">
                <p>Lucidworks Labs provides a quick and easy way to start demo instances of Lucidworks Fusion on Google Cloud. A wide variety of different types of search  and data applications can be deployed and configured with this system.</p>
                <div class="bs-callout bs-callout-default bs-callout-top">
                  <h4>1. Getting Started</h4>
                  <p>There is a <a href="{{ uri_for('labdocs') }}">getting started guide</a> on the documentation page.</p>
                  <button type="button" id="getting-started-docs" class="btn btn-default"><span class="glyphicon glyphicon-book"></span> View Labs Documentation</button>
                </div>
                <div class="bs-callout bs-callout-default bs-callout-top">
                  <h4>2. Explore Applications</h4>
                  <p>You can find a variety of different Fusion-based applications over on the <a href="https://lucidworks.com/labs">main labs site</a>.</p>
                  <button type="button" id="applications-index" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Browse Applications</button>
                </div>
                <div class="bs-callout bs-callout-default bs-callout-top">
                  <h4>3. Launch Instances</h4>
                  <p>Instances are managed and accessed from your <a href="{{ uri_for('instances-list') }}">Instances</a> page. There's also a link in the left menu.</p>
                  <button type="button" id="instances-list" class="btn btn-default"><span class="glyphicon glyphicon-play"></span> Quick Launch a Fusion Instance</button>
                </div>
                <p>If you are looking to download Fusion to run locally, please visit the <a href="https://lucidworks.com/fusion/">Fusion Download</a> page. Please refer to our <a href="https://lucidworks.com/legal/privacy-policy/">Privacy Policy</a> for more information about how we use your information on this site.</p>
                <h4>Watch a Streams Video</h4>
                <p>Take a few minutes and let us show you how to start Fusion instances using the Lucidworks Labs site!</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mWoyepguwzE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<br/><br/> <!--take this crap out-->
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{username}}";
    var csrf_token = "{{ csrf_token() }}";

    {% if dialog %}
    // launch dialog
    $('#confirm').modal();
    {% endif %}

    // launch
    $('#launch-button').click(function() {
      window.location = window.location.href+"/launch";
    });

    // download
    $('#download-button').click(function() {
      window.location = "https://lucidworks.com/download";
    });

    // apps index
    $('#applications-index').click(function() {
      window.location = "https://lucidworks.com/labs";
    });

    // review settings
    $('#getting-started-docs').click(function() {
      window.location = "{{ uri_for('labdocs') }}";
    });  

    // review settings
    $('#instances-list').click(function() {
      window.location = "/instance/create/starter41";
    });  
  });

</script>
{% endblock %}

