{% import "macros.html" as macros %}
{% extends base_layout %}

<!-- Set Title -->
{% block title %}New Instance :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div>
	<img src="/img/labs_bg.png" alt="background-image" class="img-responsive nav-bg">
    <h1>Instance Detail</h1>
    <p class="lead">
      This is an instance detail view.
    </p>
    <tbody>
      <tr>
        <td>{{ instance.created }}</td>
        <td>{{ instance.name }}</td>
        <td><a target=_blank href="http://{{ instance.ip }}:8764/webapps/{{ stream.sid }}-demo">{{ instance.ip }}</a></td>
        <td>{{ stream.name }}</td>
        <td>{{ stream.fusion_version }}</td>
        <td>{{ instance.status }}</td>
      </tr>
    </tbody>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $().ready(function() {

    });
</script>
{% endblock %}