{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Instance {{ instance.name }} :: Labs :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this instance? Batman would do it.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Delete Instance</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>The Instance</h1>
      <p class="blurb">&#8220;We are not makers of history. We are made by history.&#8221; ― Martin Luther King, Jr.</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("instances", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">

        <div class="col-md-12">
          <div class="section-header">
            <h2>Instance <em>{{ instance.name }}</em></h2>
            <div class="row instance-detail-row">
              <div class="col-md-4">
                <div class="text-center"><h3><small>Run Timer</small></h3></div>
                <div class="text-center">
                  <input id="run-timer" data-angleArc="180" data-angleOffset="270" data-started="{{ instance.started|epoch }}" data-updated="{{ instance.created|epoch }}" data-step="1" data-readOnly=true data-min="0" value="0" data-max="86400" data-width="230" data-height="120" data-inputColor="#689636" data-fgcolor="#8cc152">
                </div>
              </div>
              <div class="col-md-4">
                <div class="text-center"><h3><small>Life Timer</small></h3></div>
                <div class="text-center">
                  <input id="life-timer" data-angleArc="180" data-angleOffset="270" data-expires="{{ instance.expires|epoch }}" data-updated="{{ instance.created|epoch }}" data-step="1" data-readOnly=true data-min="0" value="0" data-max="604800" data-width="230" data-height="120" data-inputColor="#25a7da" data-fgcolor="#87ceeb">
                </div>
              </div>
            </div>
            
            <div class="row">

              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#instance" data-toggle="tab">Access & Attributes</a></li>
                <li><a href="#console" data-toggle="tab">Console Log</a></li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane active" id="instance">

                <div class="text-center timer-state">

                </div>
                  <div class="col-md-6">
                    <h3><small>Instance Access</small></h3>
                    <table class="table table-striped table-responsive">
                      <tr>
                        <td><strong>Public IPv4</strong></td>
                        <td><input id="{% if instance.ip %}{{ instance.ip }}{% else %}None{% endif %}" class="ip" value="{% if instance.ip %}{{ instance.ip }}{% else %}None{% endif %}"></input></td>
                      </tr>
                      <tr>
                        <td><strong>Application Link</strong></td>
                        <td>{% if instance.app_link %}<a class="fusion-link" target=_blank href="{{ instance.app_link }}"><span class="label label-default">Click to View App</span></a>{% else %}<span class="label label-danger">Not Available</span>{% endif %}</td>
                      </tr>
                      <tr>
                        <td><strong>Fusion Admin</strong></td>
                        <td>{% if instance.admin_link != None %}<a target=_blank class="fusion-link" href="{{ instance.admin_link }}"><span class="label label-default">Click to Login</span></a>{% else %}<span class="label label-danger">Not Available</span>{% endif %}</td>
                      </tr>
                        <td><strong>Admin Username</strong></td>
                        <td><em>admin</em></td>
                      </tr>
                     </tr>
                        <td><strong>Admin Password</strong></td>
                        <td><em>{% if instance.password %}{{ instance.password }}{% else %}N/A{% endif %}</em></td>
                      </tr>
                    </table>
                  </div>
                
                  <div class="col-md-6">
                    <div><h3><small>Instance Attributes</small></h3></div>
                    <div>
                      <table class="table table-striped table-responsive">
                        <tr>
                          <td><strong>Stream Template</strong></td>
                          <td colspan="2">{{ instance.stream.get().name }}</td>
                        </tr>
                        <tr>
                          <td><strong>Status</strong></td>
                          <td colspan="2">{{ macros.instance_status(instance.status) }}</td>
                        </tr>
                        <tr>
                          <td><strong>VPUs</strong></td>
                          <td colspan="2">4 Core</td>
                        </tr>
                        <tr>
                          <td><strong>Memory</strong></td>
                          <td colspan="2">15 GB</td>
                        </tr>
                        <tr>
                          <td><strong>Disk</strong></td>
                          <td colspan=2>50 GB</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              
                <div class="tab-pane" id="console">
                  <pre style="white-space: pre-line" id="console_log">{% if console %}{{ console }}{% else %}Waiting on serial console output...{% endif %}</pre>
                </div>
              
              </div>
            </div>
            <div class="bs-callout bs-callout-success bs-callout-top">
              <h4>About Instance Timers</h4>
              <p>Instances may occasionally be preempted before their <em>run timer</em> expires. Stopped instances may be restarted at any time before their <em>life timer</em> runs out. Instance <em>life timers</em> are set to a maximum of <strong>604,800 seconds or 7 days</strong> for this account. When a <em>life timer</em> runs out, the instance will be terminated and deleted.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row button-padding">
        <div class="col-md-12">
          <button id="instance-list" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Back to Instances</button>
          <button id="instance-delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete Instance</button>
          {% if instance.status == "TERMINATED" %}
            <button id="instance-start" class="btn btn-default"><span class="glyphicon glyphicon-play"></span> Start Instance</button>                    
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // timer knob
    $('#life-timer').knob();
    $('#run-timer').knob();
    setInterval(function() {
      var epoch_time = parseInt((new Date).getTime()/1000);
      var expires = parseInt($('#life-timer').attr('data-expires'));
      var sleeps = parseInt($('#run-timer').attr('data-started'))+86400;
      var life_timer = expires - epoch_time;
      var run_timer = sleeps - epoch_time;
      if (run_timer > -1) {
        $('#run-timer').val(run_timer).trigger("change");
      } else {
        $('#run-timer').val(0).trigger("change");
      }
      if (life_timer > -1) {
       $('#life-timer').val(life_timer).trigger("change");
      } else {
        $('#life-timer').val(0).trigger("change");
      }
    }, 1000);

    // apps index
    $('#instance-list').click(function() {
      window.location = "/instances/";
    });

    // delete button
    $('#instance-delete').click(function() {
      $('#delete').modal();
    });
      
    $('#delete-button').click(function() {
      $('#delete').modal('hide');
      $.ajax({
        url: '/instance/{{ instance.name }}/delete?_csrf_token='+csrf_token,
        type: 'GET',
        statusCode: {
          200: function() {
            alertify.success("Instance {{ instance.name }} deleted!");
            setTimeout(function(){ location.reload(); }, 2000);
          }
        }
      });
    });

    $('#instance-start').click(function() {
      $.ajax({
        url: '/instance/{{ instance.name }}/start?_csrf_token='+csrf_token,
        type: 'GET',
        statusCode: {
          200: function() {
            alertify.success("Instance {{ instance.name }} started!");
            setTimeout(function(){ location.reload(); }, 2000);
          }
        }
      });
    });

    $.get("/instance/{{ instance.name }}/console", function( data ) {
      $("#console_log").html(data);
      console.log( "Load was performed." );
    });           

  });

</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/jquery.knob.js"></script>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
{% endblock %}