{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Instance {{ instance.name }} :: Labs :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>The Instance</h1>
      <p class="blurb">&#8220;The secret of getting ahead is getting started.&#8221; ― Mark Twain</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("instances", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">

        <div class="col-md-12">
          <div class="section-header">
            <h2>Instance <strong>{{ instance.name }}</strong></h2>
            <div class="row instance-detail-row">
              <div class="col-md-4">
                <div class="text-center"><h3><small>Instance Timer</small></h3></div>
                <div class="text-center">
                  <input id="timer" data-state="{{ instance.status }}" data-expires="{{ instance.expires }}" data-updated="{{ instance.updated|epoch }}" data-step="1" data-readOnly=true data-min="0" value="0" data-max="18000" data-width="230" data-height="230">
                </div>
                <div class="text-center timer-state">
                  <p>{{ macros.instance_state(instance.status) }}</p>
                </div>
              </div>
            </div>
            

            <div class="row">

              <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#instance" data-toggle="tab">Instance</a></li>
                <li><a href="#console" data-toggle="tab">Console Log</a></li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane active" id="instance">
                  {% if instance.status > 3 %}
                  <div class="col-md-6">
                    <h3><small>Instance Access</small></h3>
                    <table class="table table-striped table-responsive">
                      <tr>
                        <td><strong>Public IPv4</strong></td>
                        <td><input id="{% if instance.ip %}{{ instance.ip }}{% else %}None{% endif %}" class="ip" value="{% if instance.ip %}{{ instance.ip }}{% else %}None{% endif %}"></input></td>
                      </tr>
                      <tr>
                        <td><strong>Fusion Admin</strong></td>
                        <td>{% if instance.admin_link %}<a target=_blank href="{{ instance.admin_link }}"><span class="label label-success">Login</span></a>{% else %}<span class="label label-danger">Loading...</span>{% endif %}</td>
                      </tr>
                      <tr>
                        <td><strong>Application Link</strong></td>
                        <td>{% if instance.app_link %}<a target=_blank href="{{ instance.app_link }}"><span class="label label-success">View App</span></a>{% else %}<span class="label label-danger">Not Available</span>{% endif %}</td>
                      </tr>
                    </table>
                  </div>
                  {% endif %}
                
                  <div class="col-md-6">
                    <div><h3><small>Instance Attributes</small></h3></div>
                    <div>
                      <table class="table table-striped table-responsive">
                        <tr>
                          <td><strong>VPUs</strong></td>
                          <td colspan="2">4 Core</td>
                        </tr>
                        <tr>
                          <td><strong>Memory</strong></td>
                          <td colspan="2">15 GB</td>
                        </tr>
                        <tr>
                          <td><strong>Disk</strong></td>
                          <td colspan=2>50 GB</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              
                <div class="tab-pane" id="console">
                  <pre id="console_log">{% if instance.console_output %}{{ instance.console_output }}{% else %}Waiting on console log...{% endif %}</pre>
                </div>
              
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row button-padding">
        <div class="col-md-12">
          <button id="instance-list" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"></span> Back to Instances</button>
          <button id="instance-delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete Instance</button>
          <button id="instance-duplicate" class="btn btn-success"><span class="glyphicon glyphicon-transfer"></span> Duplicate Instance</button>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var csrf_token = "{{ csrf_token() }}";
    var channel_token = "{{ channel_token }}";
    var refresh_channel = "{{ refresh_channel }}";

    // current state when page loads
    var state = "{{ instance.status }}";

    // timer knob
    $('#timer').knob();
    setInterval(function() {
      var epoch_time = parseInt((new Date).getTime()/1000);
      var expires = parseInt($('#timer').attr('data-expires'));
      var state = parseInt($('#timer').attr('data-state'));
      var timer2 = expires - epoch_time;
      if (timer2 > -1) {
        $('#timer').val(timer2).trigger("change");
      } else {
        $('#timer').val(0).trigger("change");
      }
    }, 1000);

  });

</script>
{% endblock %}

{% block extras %}
  <script type="text/javascript" src="/js/jquery.knob.js"></script>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
{% endblock %}