{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Streams Admin :: {% endblock %}

{% block page_styles %}
  <link href="/css/configure.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<img src="/img/labs_bg.png" alt="background-image" class="img-responsive nav-bg">

<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("instances", user_id) }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Instances</h2>
            <div class="row">
              <div class="col-md-12">
                <p>These are your instances. You may also <a href="{{ uri_for('instance-create') }}">add a new one</a>.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Instance</th>
                      <th>Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for instance in instances %}
                    <tr>
                      <td><a href="/instance/{{ instance.name }}">{{ instance.name }}</a></td>
                      <td>{{ instance.created }}</td>
                      <td>{{ instance.status }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>

<script type="text/javascript">
  $().ready(function() {
    // standard stuff
    var username = "{{ username }}";
    var csrf_token = "{{ csrf_token() }}";
    var time = new Date().getTime();

    function refresh() {
      if(new Date().getTime() - time >= 60000) {
        window.location.reload(true);
      } else { 
        setTimeout(refresh, 10000);
      }
    }
    setTimeout(refresh, 10000);
  });
</script>

{% endblock %}
