{% import "macros.html" as macros %}
{% extends base_layout %}

{% block title %}Instances :: {% endblock %}

{% block page_styles %}
  <link href="/css/docs.css" rel="stylesheet">
  <link href="/css/documentation.css" rel="stylesheet">
  <link href="/css/lab.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<!-- hidden delete modal -->
<div id="delete" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this instance?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="delete-button" class="btn btn-danger">Delete Instance</button>
      </div>
    </div>
  </div>
</div>
<!-- hidden create instance modal -->
{% if user_info.email %}
<div id="create-instance-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a Fusion Instance</h4>
      </div>
      <div class="modal-body">
        <p>To create a new instance, select a Fusion application template and click <strong>Create Instance</strong>.</p>
        <div class="row">
          <div class="col-md-5 form-padding" id="stream-form">
            <label class="control-label" for="stream">Select Template</label>
            <select class="form-control pulldown" id="stream" name="stream" type="text">
              {% for stream in streams %}
              <option value="{{ stream.sid }}">{{ stream.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="create-button" class="btn btn-success">Create Instance</button>
      </div>
    </div>
  </div>
</div>
{% else %}
<div id="update-email-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Update Your Email Address</h4>
      </div>
      <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="">
        <div class="modal-body">
          <p>The system was unable to find an email address for your associated Github account.</p>
          <p>Please update the field below with a valid email address. Your email address will be used to notify you of changes in instance status and helping your establish interest in our product line.</p>
          <p>Please refer to our <a href="https://lucidworks.com/legal/privacy-policy/">Privacy Policy</a> for more information about how we use this information.</p>
          <div class="row">
            <div class="col-md-6 form-padding" id="stream-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                {{ macros.input(form, "email", "Your Email Address", placeholder="you@email.com", class="form-control focused required") }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="close-button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="start-button" class="btn btn-success">Update Email</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
<!-- end modal -->
<div class="inverse">
  <div class="container">
    <div class="row">
      <h1>Your Instances</h1>
      <p class="blurb">&#8220;The secret of getting ahead is getting started.&#8221; ― Mark Twain</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-2">
    {{ macros.side_menu("instances") }}
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h2>Instance List</h2>
            <div class="row">
              <div class="col-md-12">
                {% if instances %}
                <p>The status of your current instances are shown below. To create a new Fusion instance, click Create Instance. For details about a particular instance, click on its name.</p>
                {% else %}
                <p>Click the <strong>Create Instance</strong> button below to start a new instance.</p>
                <p>Here is a short video guide on how to use this site and Fusion to demo Lucidworks applications.</p>
                <p><iframe width="560" height="315" src="https://www.youtube.com/embed/mWoyepguwzE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
                {% endif %}

                {% if need_more_info %}
                <div class="bs-callout bs-callout-warning bs-callout-top">
                  <h4>We need more information about you!</h4>
                  <p>You’ve authenticated through your Github account but we need a full user profile before we continue. Please complete your user profile.</p>
                  <button type="button" id="account-settings" class="btn btn-warning">Update Your Profile</button>
                </div>
                {% endif %}
                {% if user_info.max_instances <= num_instances %}
                <div class="bs-callout bs-callout-warning bs-callout-top">
                  <h4>At Max Instance Limit</h4>
                  <p>Your account currently supports running <strong>a maximum of {{ user_info.max_instances }} instances</strong>. You’ll need to delete one or more if you’d like to add additional instances. If you need more capacity, or would like to launch Fusion instances on your own Google Cloud account, please <a href="https://lucidworks.com/company/contact/">contact us today</a>!</p>
                </div>
                {% endif %}

                {% if instances %}
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Instance</th>
                      <th>Status</th>
                      <th>Fusion Version</th>
                      <th>Created</th>
                      <th>End of Life</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for instance in instances %}
                    <tr>
                      <td><a href="/instance/{{ instance.name }}">{% if instance.renamed == "" %}{{ instance.name }}{% else %}{{ instance.renamed }}{% endif %}</a></td>
                      {% if instance.stream.get().fusion_version != "5.0.0" %}
                      <td>{{ macros.instance_status(instance.status) }}</td>
                      {% else %}
                      <td class="instance-5-status"> {{ macros.instance_status(instance.status) }} </td>
                      {% endif %}
                      <td>{{ instance.stream.get().fusion_version}}
                      <td class="fusion-5-created">{{ instance.created|timendate }}</td>
                      <td>{{ instance.expires|timendate }}</td>
                      <td>
                        {% if instance.status == "TERMINATED" %}                      
                        <button type="button" id="start_{{instance.name}}" class="btn btn-default btn-xs" title="Start Instance" href="#"><span class="glyphicon glyphicon-play"></span></button>
                        {% endif %}
                        {% if instance.admin_link %}
                        <button type="button" id="adminlink-{{instance.name}}" class="btn btn-info btn-xs" value="{{ instance.admin_link }}" title="Fusion Admin" href="#"><span class="glyphicon glyphicon-cog"></span></button>
                        {% endif %}
                        {% if instance.app_link %}
                        <button type="button" id="applink-{{instance.name}}" class="btn btn-info btn-xs" value="{{ instance.app_link }}" title="View Application" href="#"><span class="glyphicon glyphicon-list-alt"></span></button>
                        {% endif %}
                        {% if instance.password and instance.stream.get().fusion_version != "5.0.0" %}
                        <button type="button" id="password-{{instance.password}}" class="btn btn-info btn-xs" value="{{ instance.password }}" title="Click to copy password." href="#"><span class="glyphicon glyphicon-lock"></span></button>
                        {% endif %}
                        {% instance.stream.get().fusion_version != "5.0.0" %}
                        <button type="button" id="remove_{{instance.name}}" class="btn btn-danger btn-xs" title="Delete Instance" href="#"><span class="glyphicon glyphicon-remove"></span></button>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% endif %}
                <div class="row">
                  <div class="col-md-5">
                    <button type="button" id="labs-button" class="btn btn-warning">View Applications</button>
                    <button type="button" id="create-instance-button" class="btn btn-success">Create Instance</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
{% endblock %}

{% block footer %}
<div class="footer-strip">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script type="text/javascript" src="/js/toggles.js"></script>

<script type="text/javascript">
  $().ready(function() {
    {% if user_info.email %}
      $('#create-instance-button').click( function() {
        $('#create-instance-modal').modal();
      });
      $('#create-button').click( function() {
        window.location.href = '/instance/create/' + $("#stream").val();
      });

    {% else %}
      $('#create-instance-button').click( function() {
        $('#update-email-modal').modal();
        $('#email').focus();
      });
    {% endif %}

    {% if sid %}
    $('#update-email-modal').modal();
    $('#email').focus();

    $('#applications-index').click(function() {
      $('#update-email-modal').modal();
      $('#email').focus();
    });
    {% endif %}

    // instance list
    $('#instance-list').click(function() {
      window.location = "/instances/";
    });

    // settings
    $('#account-settings').click(function() {
      window.location = "{{ uri_for('account-settings') }}";
    });

    // labs main
    $('#labs-button').click(function() {
      window.location = "https://lucidworks.com/labs";
    });

    // password buttons
    $('button[id^="password-"]').each(function(index){
      $('#'+this.id).click(function() {
        var password = this.id.split("-").pop();
        console.log(password);
        var dummy = $('<input>').val(password).appendTo('body').select();
        document.execCommand('copy');
        alertify.success("Password copied.");
        dummy.remove();
      });
    });

    // applink buttons
    $('button[id^="applink-"]').each(function(index){
      $('#'+this.id).click(function() {
        var app_link = this.getAttribute('value');
        window.open(app_link);
      });
    });

    // applink buttons
    $('button[id^="adminlink-"]').each(function(index){
      $('#'+this.id).click(function() {
        var admin_link = this.getAttribute('value');
        window.open(admin_link);
      });
    });

    // remove button
    $('button[id^="remove_"]').each(function(index){
      $('#'+this.id).click(function() {
        name = this.id.split("_").pop();
        $('#delete').modal();
        $('#delete-button').click(function() {
          $('#delete').modal('hide');
          $.ajax({
            url: '/instance/'+name+'/delete?_csrf_token='+csrf_token,
            type: 'GET',
            statusCode: {
              200: function() {
                alertify.success("Instance "+name+" marked to be deleted!");
                setTimeout(function(){ location.reload(); }, 2000);
              }
            }
          });

        });
      })
    });

    // timer hack for the constantly provisioning Kube pods
    (function(jQuery){
      let fusionStatuses = $(".fusion-5-created");
      for(let i = 0, j = fusionStatuses.length; i < fusionStatuses.length; i++){
        let dateStartedObj = dateHolder = $(".fusion-5-created")[i],
            dateStarted = Date.parse(dateStartedObj.textContent),
            tenMinutesLater = dateStarted + 600000,
            now = new Date(),
            nowUTC = now.getTime() + now.getTimezoneOffset()*60*1000;
        if(tenMinutesLater < nowUTC){
          $(".instance-5-status > span").text("Running");
          $(".instance-5-status > span").removeClass("label-warning");
          $(".instance-5-status > span").addClass("label-success");
        }
      }
    })($);
    // end Kube pod interval

    // start button
    $('button[id^="start_"]').each(function(index){
      $('#'+this.id).click(function() {
        name = this.id.split("_").pop();
        $.ajax({
          url: '/instance/'+name+'/start?_csrf_token='+csrf_token,
          type: 'GET',
          statusCode: {
            200: function() {
              alertify.success("Instance "+name+" marked to be started!");
              setTimeout(function(){ location.reload(); }, 2000);
            }
          }
        });
      })
    });

    // standard stuff
    var username = "{{ username }}";
    var csrf_token = "{{ csrf_token() }}";
    var time = new Date().getTime();

    function refresh() {
      if(new Date().getTime() - time >= 60000) {
        window.location.reload(true);
      } else { 
        setTimeout(refresh, 10000);
      }
    }
    setTimeout(refresh, 10000);
  });
</script>

{% endblock %}
